@using OpenIZ.Core.Alert.Alerting
@model OpenIZAdmin.Models.AlertModels.CreateAlertModel
@{
    ViewBag.Title = Locale.CreateAlert_Heading;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.CreateAlert_Heading</span>
    </div>
    <div class="panel panel-body">
        @using (Html.BeginForm("Create", "Alert", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.To, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.ListBoxFor(m => m.To, new List<SelectListItem>(), new { @class = "user-search form-control", multiple = "multiple", title = Locale.ToolTip_AlertTo })
                    @Html.ValidationMessageFor(m => m.To, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    @Html.CheckBoxFor(m => m.IsSystemAlert, new { @class = "col-md-offset-2" }) @Locale.IsSystemAlert
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", title = Locale.ToolTip_Subject })
                    @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Priority, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.Priority, Model.PriorityList, new { @class = "form-control", title = Locale.ToolTip_Priority })
                    @Html.ValidationMessageFor(m => m.Priority, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", cols = "10", rows = "10", title = Locale.ToolTip_Message })
                    @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <label>Preview</label>
            <hr />
            <div id="messagePreview"></div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-danger">@Locale.Cancel</a>
                    <button type="submit" data-wait-text="@Locale.PleaseWait" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.Submit</button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {

            var showdownConv = new showdown.Converter();

            $("#@Html.IdFor(m=>m.Message)").keyup(function () {
                var rawMessage = $("#@Html.IdFor(m=>m.Message)").val();
                $("#messagePreview").html(showdownConv.makeHtml(rawMessage));
            });

            $("#@Html.IdFor(m => m.IsSystemAlert)").change(function ()
            {
                if (this.checked)
                {

                    $("#@Html.IdFor(m => m.To)").append($("<option>", {
                        text: "@Locale.System", value: "@Locale.System"
                    }));
                    $("#@Html.IdFor(m => m.To)").val("@Locale.System").trigger("change");
                    $("#@Html.IdFor(m => m.To)").attr("disabled", "disabled");
                    $("#@Html.IdFor(m => m.To)").attr("readonly", "readonly");
                }
                else
                {

                    var val = $("#@Html.IdFor(m => m.To)").select2('val');

                    $("#@Html.IdFor(m => m.To)").empty();
                    $("#@Html.IdFor(m => m.To)").change();
                    $("#@Html.IdFor(m => m.To)").removeAttr("disabled");
                    $("#@Html.IdFor(m => m.To)").removeAttr("readonly");
                }

            });

        });
    </script>
}