@using OpenIZAdmin.Models.AlertModels
@model OpenIZAdmin.Models.AlertModels.ViewModels.AlertViewModel
@{
    ViewBag.Title = Locale.View + " " + Locale.Alert;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        @Model.Subject
        @Model.Time.ToLocalTime().ToString("dddd MMM yyyy hh:mm:ss tt")
    </div>

    <div class="panel panel-body panel-default">
        <div class="form-group">
            <div class="col-md-10">
                @Locale.From <strong>@Model.From</strong>
            </div>
        </div>

        <hr />

        <div class="col-md-10">
            <div class="form-group">
                <div class="col-md-10 grey rounded-corners">
                    <div>
                        @Model.Body
                    </div>
                </div>
                <div class="col-md-2">
                    @using (Html.BeginForm("Read", "Alert", new { id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span>@Locale.Acknowledge</button>}
                </div>
            </div>
        </div>
    </div>
</div>
