@using OpenIZAdmin.Models.AlertModels
@model OpenIZAdmin.Models.AlertModels.ViewModels.AlertViewModel
@{
    ViewBag.Title = "ViewAlert";
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        @Model.Subject
        @Model.Time.ToLocalTime().ToString("dddd MMM yyyy hh:mm:ss tt")
    </div>

    <div class="panel panel-body panel-default">
        <div class="form-group">
            <div class="col-md-10">
                <strong>@Model.From</strong>
            </div>
        </div>

        <div class="col-md-10">
            <div class="form-group min-height-200 grey">
                <div class="col-md-10">
                    <p>
                        @Model.Body
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @using (Html.BeginForm("DeleteAlert", "Alert", new { id = Model.Id }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">@Locale.Delete</button>}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @using (Html.BeginForm("ReadAlert", "Alert", new { id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">@Locale.Acknowledge</button>}
            </div>
        </div>
    </div>
</div>
