@model OpenIZAdmin.Models.PolicyModels.ViewModels.PolicyViewModel
@{
    ViewBag.Title = Locale.Policy;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        <span>@Locale.Policy</span>
        <div class="pull-right">
            <a href="~/Policy/Edit/Edit?key=@Model.Key">
                <span class="glyphicon glyphicon-edit"></span>
                @Locale.Edit
            </a>
        </div>
    </div>
    <div class="panel panel-body panel-default">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-horizontal">                   
                    <div class="form-group">
                        @Html.HiddenFor(m => m.Key)
                        @Html.LabelFor(m => m.Name, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })                            
                        </div>
                    </div>   
                    <div class="form-group">
                        @Html.LabelFor(m => m.Grant, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Grant, new { @class = "form-control", @readonly = "readonly" })                            
                        </div>
                    </div>  
                    <div class="form-group">
                        @Html.LabelFor(m => m.Oid, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Oid, new { @class = "form-control", @readonly = "readonly" })                            
                        </div>
                    </div>  
                    <div class="form-group">
                        @Html.LabelFor(m => m.CanOverride, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.CanOverride, new { @class = "form-control", @readonly = "readonly" })                            
                        </div>
                    </div>                                        
                </div>
            </div>
        </div>      
    </div>
</div>