@model OpenIZAdmin.Models.PolicyModels.ViewModels.PolicyViewModel
@{
    ViewBag.Title = Locale.Policy;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        <span>@Locale.Policy</span>
        <div class="pull-right">
            @*<a href="~/Policy/Edit">
                <span class="glyphicon glyphicon-edit"></span>
                @Locale.Edit
            </a>*@
        </div>
    </div>
    <div class="panel panel-body panel-default">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.CreationTime, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.CreationTime, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Key, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Key, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.IsPublic, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.IsPublic, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.CanOverride, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.CanOverride, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Oid, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Oid, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Grant, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Grant, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>