@model OpenIZAdmin.Models.PlaceModels.CreatePlaceModel
@{
    ViewBag.Title = Locale.CreatePlace_Heading;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.CreatePlace_Heading</span>
    </div>
    <div class="panel panel-body">
        @using (Html.BeginForm("Create", "Place", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", title = Locale.ToolTip_PlaceName })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    <span class="help-block">@Locale.ToolTip_PlaceName </span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TargetPopulation, new {@class = "col-md-2 control-label"})
                <div class="col-md-8">
                    
                    <div class="input-group date" id="targetPopulationYearInputGroup">
                        @Html.TextBoxFor(m => m.Year, new {@class = "form-control", title = Locale.ToolTip_TargetPopulationYear})
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Year, "", new {@class = "text-danger"})
                    <span class="help-block">@Locale.ToolTip_TargetPopulationYear </span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TargetPopulation, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.TargetPopulation, new { @class = "form-control", title = Locale.ToolTip_TargetPopulationValue })
                    @Html.ValidationMessageFor(m => m.TargetPopulation, "", new { @class = "text-danger" })
                    <span class="help-block">@Locale.ToolTip_TargetPopulationValue </span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TypeConcept, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.TypeConcept, Model.TypeConcepts, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TypeConcept, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IsServiceDeliveryLocation, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.CheckBoxFor(m => m.IsServiceDeliveryLocation, new {@class = "col-md-offset-2"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="@Url.Action("Index")" class="btn btn-danger">@Locale.Cancel</a>
                    <button type="submit" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.Submit</button>
                </div>
            </div>}
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")

    <script type="text/javascript">
        $("#targetPopulationYearInputGroup").datetimepicker({
            defaultDate: 'now',
            format: " yyyy",
            viewMode: "years"
        });
    </script>
}