@model OpenIZAdmin.Models.PlaceModels.EditPlaceModel
@{
    ViewBag.Title = Locale.Edit + " " + Locale.Place;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@(Locale.Edit + " " + Locale.Place)</span>
    </div>
    <div class="panel panel-body">
        @using (Html.BeginForm("Edit", "Place", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.Id)

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new {@class = "col-md-2 control-label"})
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Name, new {@class = "form-control", title = Locale.ToolTip_PlaceName})
                    @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RelatedPlaces, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.RelatedPlaceKeys, Model.RelatedPlacesList, new { @class = "place-search form-control", multiple = "multiple", title = Locale.ToolTip_Policies })
                    @Html.ValidationMessageFor(m => m.RelatedPlaces, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="@(Request.UrlReferrer ?? new Uri(Request.Url.GetLeftPart(UriPartial.Authority)))" class="btn btn-danger">@Locale.Cancel</a>
                    <button type="submit" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.Submit</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.Identifiers</span>
        <div class="pull-right">
            <a href="@Url.Action("Create", "EntityIdentifier", new {id = Model.Id, type = "Place"})">
                <span class="text-primary h4">@Locale.New</span>
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>
    </div>
    @Html.Partial("_ManageIdentifiersPartial", Model.Identifiers)
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">
            <span class="text-white h4">@Locale.Details</span>
        </span>
    </div>
    <div class="panel panel-body">
        @if (Model.RelatedPlaces.Any())
        {
            <table class="table table-striped table-bordered" id="viewPlaceTable">
                <thead>
                <tr>
                    <th>@Locale.Name</th>
                    <th>@Locale.Type</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.RelatedPlaces)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Type</td>
                    </tr>}
                </tbody>
            </table>}
        else
        {
            <p>@Locale.NoAdditionalDetails</p>}

    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#viewPlaceTable").DataTable();
            $('.dynamic-dropdown').select2({
                tags: true,
                tokenSeparators: [','],
                width: '100%'
            });

        });
    </script>

}