@model OpenIZAdmin.Models.PlaceModels.EditPlaceModel
    @{
        ViewBag.Title = Locale.Edit + " " + Locale.Place;
    }

    <div class="panel panel-default">
        <div class="panel panel-heading">
            @(Locale.Edit + " " + Locale.Place)
    </div>
    <div class="panel panel-body panel-default">
        @using (Html.BeginForm("Edit", "Place", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.VersionId)

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Latitude, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Latitude, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Longitude, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Longitude, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Locale.Submit" class="btn btn-default" title="@Locale.ToolTip_Submit"/>
                </div>
            </div>
        }
    </div>
</div>