@model OpenIZAdmin.Models.PlaceModels.SearchPlaceModel
@{
    ViewBag.Title = Resources.Search;

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "place-search-results"
    };
}

<div class="content col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main row">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            @Resources.Search
            <div class="pull-right">
                <span>@Resources.New</span>
                <a href="~/Place/Create" class="glyphicon glyphicon-plus-sign"></a>
            </div>
        </div>
        <div class="panel panel-body">
            @using (Ajax.BeginForm("Search", "Place", options, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-warning" id="reset">
                            <span class="glyphicon glyphicon-refresh"></span>@Resources.Reset
                        </button>
                        <input type="submit" value="@Resources.Search" class="btn btn-default" />
                    </div>
                </div>}
        </div>
    </div>
    <div id="place-search-results">

    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#reset").on("click", function () {
                window.location.reload();
            });
        });
    </script>
}
