@model OpenIZAdmin.Models.PlaceModels.ViewModels.PlaceViewModel
@{
    ViewBag.Title = Locale.View + " " + Locale.Place;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        <span>@(Locale.View + " " + Locale.Place)</span>
        <div class="pull-right">
            <a href="~/Place/Edit?key=@Model.Key&versionKey=@Model.VersionKey" title="@Locale.ToolTip_Edit">
                <span class="glyphicon glyphicon-edit"></span>
                @Locale.Edit
            </a>
        </div>
    </div>
    <div class="panel panel-body panel-default">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CreationTime, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.CreationTime, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Latitude, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Longitude, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>                    
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="text-white">@Locale.Details</span>
        </h3>
    </div>
    <div class="panel panel-body">
        @if (Model.Details.Count > 0)
        {
            <table class="table table-striped table-bordered" id="viewPlaceTable">
                <thead>
                    <tr>
                        <th>Is Mobile</th>
                        <th>Services</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Details)
                    {
                        <tr>
                            <td>@item.IsMobile</td>
                            @if (item.Services.Count > 0)
                            {
                                <td>@item.Services.Aggregate((a, b) => (a + ", " + b))</td>
}
                            else
                            {
                                <td>@Locale.NoAdditionalDetails</td>
}
                        </tr>}
                </tbody>
            </table>}
        else
        {
            <p>@Locale.NoAdditionalDetails</p>}

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function(){
            $("#viewPlaceTable").DataTable();

        });
    </script>
    
    }