@using OpenIZ.Core.Model.Entities
@using OpenIZAdmin.Models.Core
@model OpenIZAdmin.Models.PlaceModels.PlaceViewModel
@{
    ViewBag.Title = Locale.View + " " + Locale.Place;
}

@if (Model.Tags.Any(t => t.TagKey == Constants.ImportedDataTag && t.TagValue?.ToLower() == "true"))
{
    @Html.Partial("_VerifyEntityPartial", new VerifyEntityModel(Model.Id, nameof(Place)))
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@(Locale.View + " " + Locale.Place)</span>
        <div class="pull-right">
            <a href="@Url.Action("Edit", "Place", new {id = Model.Id, versionId = Model.VersionKey})" title="@Locale.ToolTip_Edit">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="text-primary h4">@Locale.Edit</span>
            </a>
        </div>
    </div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new {@class = "col-md-2 control-label"})
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Name, new {@class = "form-control", @readonly = "readonly"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TargetPopulation, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.TargetPopulation, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Type, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Type, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.IsServiceDeliveryLocation, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.IsServiceDeliveryLocation, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_IdentifiersPartial", Model.Identifiers)

@Html.Partial("_RelationshipsPartial", Model.Relationships)

@section scripts{
    <script>
        $(document).ready(function () {
            $("#viewPlaceTable").DataTable();

        });
    </script>

}