@model OpenIZAdmin.Models.AssigningAuthorityModels.EditAssigningAuthorityModel
    @{
        ViewBag.Title = Locale.Edit;
    }

    <div class="panel panel-default">
        <div class="panel panel-heading">
            @Locale.Edit
    </div>
    <div class="panel panel-body panel-default">
        @using (Html.BeginForm("Edit", "AssigningAuthority", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.Key)

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Oid, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Oid, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Oid, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Url, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Url, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DomainName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DomainName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DomainName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Locale.Submit" class="btn btn-default" />
                </div>
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="@Locale.Deactivate" class="btn btn-danger" href="/AssigningAuthority/Delete?key=@Model.Key"/>
                </div>
            </div>
        }
    </div>
</div>