@model OpenIZAdmin.Models.AssigningAuthorityModels.EditAssigningAuthorityModel
    @{
        ViewBag.Title = Locale.EditAssigningAuthority_Heading;
    }

    <div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.EditAssigningAuthority_Heading</span>
    </div>
    <div class="panel panel-body">
        @using (Html.BeginForm("Edit", "AssigningAuthority", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.Id)

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", title = Locale.ToolTip_AssigningAuthorityName })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Oid, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Oid, new { @class = "form-control", title = Locale.ToolTip_Oid })
                        @Html.ValidationMessageFor(m => m.Oid, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Url, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Url, new { @class = "form-control", title = Locale.ToolTip_Url })
                        @Html.ValidationMessageFor(m => m.Url, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.DomainName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.DomainName, new { @class = "form-control", title = Locale.ToolTip_DomainName })
                        @Html.ValidationMessageFor(m => m.DomainName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ValidationRegex, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.ValidationRegex, new { @class = "form-control", title = Locale.ToolTip_DomainName })
                        @Html.ValidationMessageFor(m => m.ValidationRegex, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", title = Locale.ToolTip_AssigningAuthorityDescription })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a href="@Url.Action("ViewAssigningAuthority", new { id = Model.Id })">@Locale.Cancel</a>
                        <button type="submit" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.Submit</button>
                    </div>
                </div>
        }
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">@Locale.AuthorityScope</span>
        </div>
        @Html.Partial("_ManageAuthorityScopePartial", Model.AuthorityScopeList)
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function ()
        {

            $('.dynamic-dropdown').select2({
                tags: true,
                tokenSeparators: [','],
                width: '100%'
            });

            $('.dynamic-dropdown-limited').select2({
                tags: true,
                tokenSeparators: [','],
                width: '100%',
                maximumSelectionLength: 1
            });

            $('#authorityScopeListTable').DataTable({
                order: [],
                columns: [
                  { "orderable": false },
                  null,
                  null,
                  null,
                  { "orderable": false }
                ]
            });
        });

    </script>

}