@model OpenIZAdmin.Models.ProviderModels.CreateProviderModel
@{
    ViewBag.Title = Locale.CreateProvider;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        @Locale.CreateProvider;        
    </div>
    <div class="panel panel-body panel-default">
        @using (Html.BeginForm("Create", "Provider", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })          

            <div class="form-group">
                @Html.LabelFor(m => m.FamilyNames, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.FamilyNames, new List<SelectListItem>(), new { @class = "dynamic-dropdown form-control", multiple = "multiple" })
                    @Html.ValidationMessageFor(m => m.FamilyNames, "", new { @class = "text-danger" })
                </div>
            </div>          

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Locale.Submit" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {

            $('.dynamic-dropdown').select2({
                tags: true,
                tokenSeparators: [','],
                width: '100%'
            });

            $('.dynamic-dropdown-limited').select2({
                tags: true,
                tokenSeparators: [','],
                width: '100%',
                maximumSelectionLength: 1
            });
        });
    </script>

}

