@model OpenIZAdmin.Models.DashboardViewModel
@{
    ViewBag.Title = Locale.Home;
}

<div class="jumbotron">
    <h1>OpenIZ Administration Portal</h1>
    <p class="lead">Welcome to the OpenIZ Administration Portal.</p>
</div>
<div class="col-md-12" id="applets-partial">
    @Html.Partial("_AppletsPartial", Model.Applets)
</div>
<div class="col-md-12" id="certificates-partial">
    @Html.Partial("_CertificateRequestsPartial", Model.CertificateRequests)
</div>
<div class="col-md-12" id="devices-partial">
    @Html.Partial("_DevicesPartial", Model.Devices)
</div>
<div class="col-md-12" id="roles-partial">
    @Html.Partial("_RolesPartial", Model.Roles)
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $('#appletsTable').DataTable({
                "language":
                {
                    "url": "/Content/datatable-locales/" + getCookie("@LocalizationConfig.LanguageCookieName") + ".json"
                },
                order: [],
                columns: [
                  null,
                  null,
                  null,
                  { "orderable": false }
                ]
            });

            $('#certificateRequestsTable').DataTable({
                "language":
                {
                    "url": "/Content/datatable-locales/" + getCookie("@LocalizationConfig.LanguageCookieName") + ".json"
                },
                order: [],
                columns: [
                  { "orderable": false },
                  null,
                  null,
                  null,
                  null,
                  { "orderable": false }
                ]
            });

            $('#devicesSearchTable').DataTable({
                "language":
                {
                    "url": "/Content/datatable-locales/" + getCookie("@LocalizationConfig.LanguageCookieName") + ".json"
                },
                order: [],
                columns: [
                  { "orderable": false },
                  null,
                  null,
                  null,
                  { "searchable": false }
                ]
            });

            $('#rolesSearchTable').DataTable({
                "language":
                {
                    "url": "/Content/datatable-locales/" + getCookie("@LocalizationConfig.LanguageCookieName") + ".json"
                },
                order: [],
                columns: [
                    { "orderable": false },
                    null,
                    null,
                    null,
                    { "searchable": false }
                ]
            });

            $("#usersSearchTable").DataTable({
                "language":
                {
                    "url": "/Content/datatable-locales/" + getCookie("@LocalizationConfig.LanguageCookieName") + ".json"
                }
            });
        });
    </script>
}