@model OpenIZAdmin.Models.DebugModels.SubmitBugReportModel
@{
    ViewBag.Title = Locale.SubmitBugReport;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.SubmitBugReport</span>
    </div>

    @if (Model.Success)
    {
        <div class="panel panel-body">
            <div class="form-group alert-success">
                <div class="col-md-12 text-center">
                    @Locale.BugSubmittedSuccessfully
                </div>
                <div class="col-md-12 text-center">
                    @Locale.TicketReferenceId <strong>@Model.TransactionMessage</strong>
                </div>
            </div>
        </div>
    }
    else
    {

        <div class="panel panel-body">

            @using (Html.BeginForm("SubmitBugReport", "Home", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.HiddenFor(m => m.Id)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Reporter, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Reporter, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.BugDetails, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(m => m.BugDetails, new { @class = "form-control", cols = "10", rows = "10" })
                        @Html.ValidationMessageFor(m => m.BugDetails, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.AttachBugInfo, new { @class = "col-md-offset-2" })
                    </div>
                    <div class="col-md-6">
                        @Locale.AttachBugInfo
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a href="@Url.Action("VersionInformation")" class="btn btn-danger">@Locale.Cancel</a>
                        <button type="submit" data-locale-text="@Locale.PleaseWait" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.Submit</button>
                    </div>
                </div>
}
        </div>
    }
</div>
