@model OpenIZAdmin.Models.DebugModels.VersionViewModel

@{
    ViewBag.Title = Locale.VersionInformation_Heading;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Model.Title</span>
        <div class="pull-right">
            <a href="@Url.Action("SubmitBugReport", "Home")">
                <span class="glyphicon glyphicon-plus-sign"></span>
                @Locale.SubmitBugReport
            </a>
        </div>
    </div>

    <div class="panel panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <img src="@Url.Content("~/Content/Images/logo.png")" class="img-responsive center-block" />
            </div>
            <div class="col-xs-12 col-sm-8">
                <h4>@Model.Product</h4>
                <h4>@Model.Company</h4>
                <h4>@Model.Copyright</h4>
                <h5>@Model.Version</h5>
            </div>
        </div>  
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.VersionInformation_Heading</span>
    </div>

    <div class="panel panel-body">
        <table class="table table-striped" id="versionInformationTable">
            <thead>
                <tr>
                    <th>@Locale.Name</th>
                    <th>@Locale.Description</th>
                    <th>@Locale.Version</th>
                </tr>
            </thead>
            <tbody id="alert-results">
                @foreach (var item in Model.Assemblies)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.Version</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#versionInformationTable").DataTable({
                "language":
                {
                    "url": "/Content/datatable-locales/" + getCookie("@LocalizationConfig.LanguageCookieName") + ".json"
                }
            });
        });
    </script>
    
    }