@model OpenIZAdmin.Models.ConceptModels.EditConceptModel
@{
    ViewBag.Title = Locale.Edit + " " + Locale.Concept;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@(Locale.Edit + " " + Locale.Concept)</span>
    </div>

    @using (Html.BeginForm("Edit", "Concept", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="panel panel-body">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(m => m.ConceptClass, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.ConceptClass, new { @class = "form-control", @readonly = "readonly", title = Locale.ToolTip_ConceptClass })
                    @Html.ValidationMessageFor(m => m.ConceptClass, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreationTime, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.CreationTime, Constants.DateTimeFormatViewWithTimestamp, new { @class = "form-control", @readonly = "readonly", title = Locale.ToolTip_CreationTime })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.SelectedLanguage, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.SelectedLanguage, Model.LanguageList, new { @class = "form-control", @id = "languageList", title = Locale.ToolTip_Language })
                    @Html.ValidationMessageFor(m => m.SelectedLanguage, "", new { @class = "text-danger" })
                </div>
                <a href="#" id="btnAdd"><i class="glyphicon glyphicon-plus-sign"></i>Add Language</a>
                @Html.HiddenFor(m => m.Id)
            </div>                                                                                                                                                               
        </div>

        <a href="@(Request.UrlReferrer ?? new Uri(Request.Url.GetLeftPart(UriPartial.Authority)))" class="btn btn-danger">@Locale.Cancel</a>
        <button type="submit" class="btn btn-primary" title="@Locale.ToolTip_Submit">
            @Locale.Submit
        </button>
    }
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.Identifiers</span>        
        <div class="pull-right">
            <a href="@Url.Action("Create", "Language", new {id = Model.Id, type = "Language"})">
                <span class="text-primary h4">@Locale.New</span>
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>        
    </div>
    @Html.Partial("_ManageLanguagesPartial", Model.Languages)
</div>



@Html.Partial("_ReferenceTermsPartial", Model.ReferenceTerms)



@section Scripts
{
            <script>
                

                $('#btnAdd').click(function (e) {

                    //var generateAfterDivElement = document.getElementById("concept-language-entries").lastChild;

                    
                    var selectedLanguage = $('#languageList option:selected').val();                                                            
                    
                    var id = $('#concept-languages-list').children().last().attr('id');                                        
                    var targetDivElement = document.getElementById(id);                    
                    

                    var node = document.createElement("div");
                    node.id = "concept-language-entries";


                    //var htmlFragment = document.createTextNode('<p>After div element</p>');                    
                    //node.appendChild(htmlFragment);


                    var line1 = '<div class="form-group" id="concept-language-entries">';
                    line1 += '<div class="col-md-2">';
                    line1 += '@Html.TextBoxFor(m => m.Languages[0].TwoLetterCountryCode, new { @class = "form-control", @readonly = "readonly" })';
                    line1 += '</div>';
                    line1 += '<div class="col-md-10">';
                    line1 += '@Html.TextBoxFor(m => m.Languages[0].DisplayName, new { @class = "form-control", @readonly = "readonly" })';
                    line1 += '</div>';
                    line1 += '</div>';

                    //$('<li><a href="#' + selectedLanguage + '" data-toggle="tab">' + selectedLanguage + '</a></li>').appendTo('#tabs');

                    //$('<div class="tab-pane" id="' + selectedLanguage + '">' + '<label class="control-label" for="Name">Name</label><input class="form-control" id="Name_' + (nextTab - 1) + '_" name="Name[' + (nextTab - 1) + ']" type="text" value="">' + '<label class="control-label" for="Languages">Languages</label><input class="form-control" id="Languages_' + (nextTab - 1) + '_" name="Languages[' + (nextTab - 1) + ']" readonly="readonly" type="text" value=' + selectedLanguage + '></div>').appendTo('.tab-content');

                    //$('#tabs a:last').tab('show');

                    //var htmlFragment = document.createTextNode('<p>After div element</p>');
                    var htmlFragment = document.createTextNode(line1);
                    node.appendChild(htmlFragment);

                    //alert(htmlFragment);
                    //document.getElementById("concept-language-entries").lastElementChild.appendChild(node);
                    document.getElementById(id).appendChild(node);
                    //targetDivElement.appendChild(node).lastChild;

                });


                $(document).ready(function () {
                    $('#referenceTermsTable').DataTable();
                });

            </script>

        }
