@using OpenIZAdmin.Models
@model OpenIZAdmin.Models.ConceptModels.EditConceptModel
@{
    ViewBag.Title = Locale.EditConcept_Heading;
}

@Html.Partial("_ObsoleteWarningPartial", new ObsoleteWarningViewModel(Model.IsObsolete, Locale.ConceptNotActive))

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.EditConcept_Heading</span>
    </div>
    <div class="panel panel-body">

        @using (Html.BeginForm("Edit", "Concept", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.Id)

            <div class="form-group">
                @Html.LabelFor(m => m.Mnemonic, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @if (Model.IsSystemConcept)
                    {
                        @Html.TextBoxFor(m => m.Mnemonic, new { @class = "form-control", title = Locale.ToolTip_ConceptMnemonic, @readonly = "readonly" })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Mnemonic, new { @class = "form-control", title = Locale.ToolTip_ConceptMnemonic })
                    }        
                                                    
                    @Html.ValidationMessageFor(m => m.Mnemonic, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConceptClass, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @if (Model.IsSystemConcept)
                    {
                        @Html.DropDownListFor(m => m.ConceptClass, Model.ConceptClassList, new { @class = "form-control", title = Locale.ToolTip_ConceptClassList, @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.ConceptClass, Model.ConceptClassList, new { @class = "form-control", title = Locale.ToolTip_ConceptClassList })
                    }   
                                     
                    @Html.ValidationMessageFor(m => m.ConceptClass, "", new {@class = "text-danger"})
                </div>
            </div>

            if (!Model.IsSystemConcept)
            {
                 <div class="form-group">
                     @Html.LabelFor(m => m.AddReferenceTerm, new {@class = "col-md-2 control-label"})
                     <div class="col-md-8">
                         @Html.ListBoxFor(m => m.AddReferenceTerm, Model.ReferenceTermList, new {@class = "reference-term-search form-control", title = Locale.ToolTip_Policies})
                         @Html.ValidationMessageFor(m => m.AddReferenceTerm, "", new {@class = "text-danger"})
                     </div>
                 </div>

                 <div class="form-group">
                     @Html.LabelFor(m => m.RelationshipType, new {@class = "col-md-2 control-label"})
                     <div class="col-md-8">
                         @Html.DropDownListFor(m => m.RelationshipType, Model.RelationshipTypeList, new {@class = "form-control", title = Locale.ToolTip_RelationshipList})
                         @Html.ValidationMessageFor(m => m.RelationshipType, "", new {@class = "text-danger"})
                     </div>
                 </div>
             }

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <a href="@Url.Action("ViewConcept", new { id = Model.Id, versionId = Model.VersionKey })">@Locale.Cancel</a>
                    @if (Model.IsObsolete)
                    {
                        <button type="submit" class="btn btn-primary" disabled="disabled">@Locale.CannotUpdateNotActive</button>
                    }
                    else if (Model.IsSystemConcept)
                    {
                        <button type="submit" class="btn btn-primary" disabled="disabled">@Locale.CannotUpdateSystemConcept</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.Submit</button>
                    }
                </div>
            </div>
        }       
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.Languages</span>        
        <div class="pull-right">
            <a href="@Url.Action("Create", "Language", new {id = Model.Id, type = "Language"})">
                <span class="text-primary h4">@Locale.New</span>
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>        
    </div>
    @Html.Partial("_ManageLanguagesPartial", Model.Languages)
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.ReferenceTerms</span>        
    </div>
    @Html.Partial("_ManageReferenceTermsPartial", Model.ReferenceTerms)
</div>




@section Scripts
{
    <script type="text/javascript">
                       
        $(document).ready(function () {

            $('.dynamic-dropdown').select2({
                tags: true,
                tokenSeparators: [','],
                width: '100%'
            });

            $('.dynamic-dropdown-limited').select2({
                tags: true,
                tokenSeparators: [','],
                width: '100%',
                maximumSelectionLength: 1
            });
            
            $('#languages-table').DataTable({
                order: [],
                columns: [
                  { "orderable": false },                  
                  null,
                  null,
                  { "orderable": false }
                ]
            });

            $('#referenceTermsTable').DataTable({
                order: [],
                columns: [
                  { "orderable": false },                  
                  null,
                  null,
                  { "orderable": false }
                ]
            });
        });

        //$('#AddReferenceTerm').on('change', function () {            
        //    var entry = document.getElementById('RelationshipType').value;
        //    if (!entry || 0 === entry.length)
        //    {
        //        alert("Need to enter a relationship type " + entry);
        //    }            
        //});

        //$('#RelationshipType').on('change', function () {
        //    var entry = document.getElementById('AddReferenceTerm').value;
        //    if (!entry || 0 === entry.length) {
        //        alert("Need to enter a reference term " + entry);
        //    }
        //});

    </script>

}
