@model OpenIZAdmin.Models.ConceptModels.SearchConceptModel
@{
    ViewBag.Title = Locale.Search;

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "concept-search-results",
        OnBegin = "showLoadingBar()",
        OnComplete = "hideLoadingBar()"
    };
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        Search Concepts
        <div class="pull-right">
            <span>@Locale.New</span>
            <a href="~/Concept/Create" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
        @using (Ajax.BeginForm("Search", null, options, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.SearchType, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.SearchType, new List<SelectListItem> { new SelectListItem { Text = "Please Select a Search Type", Value = "" }, new SelectListItem { Text = "Concept", Value = "0" }, new SelectListItem { Text = "Concept Set", Value = "1" } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SearchType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Mnemonic, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Mnemonic, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Mnemonic, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-warning" id="reset">
                        <span class="glyphicon glyphicon-refresh"></span>Reset
                    </button>
                    <input type="submit" value="@Locale.Search" class="btn btn-default" />
                </div>
            </div>}
    </div>
</div>

@Html.Partial("_LoadingBar")

<div id="concept-search-results">

</div>

@section scripts{
    <script>
        $(document).ready(function ()
        {
            $("#reset").on("click", function ()
            {
                window.location.reload();
            });
        });
    </script>
}
