@model OpenIZAdmin.Models.ConceptModels.ViewModels.ConceptViewModel
@{
    ViewBag.Title = Locale.Concept;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        <span class="text-white">@Locale.Concept</span>
    </div>
    <div class="panel panel-body panel-default">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.CreationTime, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.CreationTime, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.IsReadOnly, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.IsReadOnly, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Language, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Language, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Mnemonic, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Mnemonic, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Language, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Language, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="text-white">Concept Details</span>
        </h3>
    </div>
    <div class="panel panel-body">
        @if (Model.Details.Count > 0)
        {
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Concepts</th>
                        <th>Oid</th>
                        <th>Url</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Details)
                    {
                        <tr>
                            <td>@item.Concepts.Aggregate((a, b) => (a + ", " + b))</td>
                            <td>@item.Oid</td>
                            <td>@item.Url</td>
                        </tr>}

                </tbody>
            </table>}
        else
        {
            <p>@Resources.NoAdditionalDetails</p>}

    </div>
</div>