@model OpenIZAdmin.Models.ConceptModels.ConceptViewModel
@{
    ViewBag.Title = Locale.ViewConcept_Heading;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.ViewConcept_Heading</span>
        <div class="pull-right">
            @if (!Model.IsSystemConcept)
            {
                <a href="@Url.Action("Edit", new {id = Model.Id, versionId = Model.VersionKey})" title="@Locale.ToolTip_Edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="text-primary h4">@Locale.Edit</span>
                </a>
            }
        </div>
    </div>
    <div class="panel panel-body">
        <div class="col-md-12">
            <div class="form-horizontal">                                             
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Mnemonic, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Mnemonic, new { @class = "form-control", @readonly = "readonly" })                        
                    </div>
                </div>                
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Class, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Class, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.CreationTime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.CreationTime, Constants.DateTimeFormatViewWithTimestamp, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div> 
                
                                                            
            </div>
        </div>
    </div>
</div>

@Html.Partial("_LanguagesPartial", Model.Languages)

@Html.Partial("_ReferenceTermsPartial", Model.ReferenceTerms)


@section scripts{

    <script type="text/javascript">
        $(document).ready(function ()
        {                                    
            $('#languages-table').DataTable({
                "language":
                {
                    "url": "/Content/datatable-locales/" + getCookie("@LocalizationConfig.LanguageCookieName") + ".json"
                },
                order: [],
                columns: [
                  { "orderable": false },
                  null,
                  null                  
                ]
            });
            
            $('#referenceTermsTable').DataTable({
                "language":
                {
                    "url": "/Content/datatable-locales/" + getCookie("@LocalizationConfig.LanguageCookieName") + ".json"
                },
                order: [],
                columns: [
                  { "orderable": false },
                  null,
                  null                  
                ]
            });

        });
    </script>
}