@model OpenIZAdmin.Models.ConceptModels.ConceptViewModel
@{
    ViewBag.Title = Locale.View + " " + Locale.Concept;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@(Locale.View + " " + Locale.Concept)</span>
        <div class="pull-right">
            <a href="@Url.Action("Edit", new { id = Model.Id })" title="@Locale.ToolTip_Edit">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="text-primary h4">@Locale.Edit</span>
            </a>
        </div>
    </div>
    <div class="panel panel-body">
        <div class="col-md-12">
            <div class="form-horizontal">              
                <div class="form-group">
                    @Html.LabelFor(m => m.Class, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Class, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CreationTime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.CreationTime, Constants.DateTimeFormatViewWithTimestamp, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                
                <div class="form-group">                                        
                        @Html.LabelFor(m => m.LanguageList, new {@class = "col-md-2 control-label"})                    
                    <div class="container col-md-8">
                        
                        @if (Model.LanguageList.Any())
                        {
                            for (var i = 0; i < Model.LanguageList.Count; i++)
                            {
                                                                    
                                <div class="form-group">
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.LanguageList[i].TwoLetterCountryCode, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.LanguageList[i].DisplayName, new { @class = "form-control", @readonly = "readonly" })
                                    </div>                                
                                </div>
                            }
                        }
                        else
                        {
                            <p>@Locale.NoLanguagesAssigned</p>
                        }

                    </div>
                </div>                   
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Html.DisplayNameFor(m => m.ReferenceTerms)</span>
    </div>
    <div class="panel panel-body">
        
        @if (Model.ReferenceTerms.Any())
        {
            <table class="table" id="referenceTermsTable">
                <caption>@Locale.ReferenceTerms</caption>
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.Mnemonic)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Names)
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var referenceTerm in Model.ReferenceTerms)
                {
                    <tr>
                        <td>
                            @referenceTerm.Mnemonic
                        </td>

                        <td>
                            @referenceTerm.Name
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>@Locale.NoDataAvailable</p>
        }

    </div>
</div>


@section scripts{

    <script>
        $(document).ready(function ()
        {
            $('#referenceTermsTable').DataTable();

        });
    </script>
}