@model OpenIZAdmin.Models.ConceptModels.ViewModels.ConceptViewModel
@{
    ViewBag.Title = Locale.Concept;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        <span class="text-white">@Locale.Concept @Model.Mnemonic</span>
    </div>
    <div class="panel panel-body panel-default">
        <div class="row">
            @Html.HiddenFor(m =>m.Key)
            <div class="col-md-12">
                <div class="form-group">
                @if (Model != null)
                {
                    <ul class="nav nav-tabs">
                        @{int i = 0;}
                        @foreach (var language in Model.Language)
                        {
                            if (i == 0)
                            {
                                <li class="active">
                                    <a href="#@language" data-toggle="tab">@Model.Language[i]</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="#@language" data-toggle="tab">@Model.Language[i]</a>
                                </li>
                            }
                            i++;
                        }
                    </ul>
                    <div class="tab-content">
                        @{i = 0;}
                        @foreach (var language in Model.Language)
                        {
                            if (i == 0)
                            {
                                <div id="@language" class="tab-pane active">
                                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Name[i], new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            }
                            else
                            {
                                <div id="@language" class="tab-pane">
                                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Name[i], new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            }
                            i++;
                        }
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>