@model OpenIZAdmin.Models.ConceptSetModels.EditConceptSetModel
@{
    ViewBag.Title = Locale.Edit + " " + Locale.ConceptSet;
}

<div>
    @using (Html.BeginForm("Edit", "ConceptSet", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id="editForm" }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">@(Locale.Edit + " " + Locale.ConceptSet)</span>
            </div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.ConceptToAdd, new { id = "conceptToAdd" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Mnemonic, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Mnemonic, new { @class = "form-control", title = Locale.ToolTip_ConceptMnemonic })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", title = Locale.ToolTip_ConceptName })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Oid, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Oid, new { @class = "form-control", title = Locale.ToolTip_Oid })
                    </div>
                </div>                

                <div class="form-group">
                    @Html.LabelFor(m => m.Url, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Url, new { @class = "form-control", title = Locale.ToolTip_Url })
                    </div>
                </div>       
                
                <div class="form-group">
                    @Html.LabelFor(m => m.AddConcepts, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.ListBoxFor(m => m.AddConcepts, Model.ConceptList, new { @class = "concept-search form-control", multiple = "multiple", title = Locale.ToolTip_Policies })
                        @Html.ValidationMessageFor(m => m.AddConcepts, "", new { @class = "text-danger" })
                    </div>
                </div>   
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a href="@(Request.UrlReferrer ?? new Uri(Request.Url.GetLeftPart(UriPartial.Authority)))" class="btn btn-danger">@Locale.Cancel</a>
                        <button type="submit" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.Submit</button>
                    </div>
                </div>                      
            </div>                                             
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">@Locale.Concepts</span>
                @*<div class="pull-right">
                    <a href="@Url.Action("Create", "ConceptSet", new {id = Model.Id})">
                        <span class="text-primary h4">@Locale.New</span>
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                </div>*@
            </div>
            @Html.Partial("_ManageConceptsPartial", Model.Concepts)
        </div>                  
    }

</div>



@section scripts
{
    <script type="text/javascript">
    
        function addConcept(key, button) {
            $("#conceptToAdd").val(key);
            
            var dataForm = $('#editForm').serializeArray();
            var url = "/ConceptSet/Add";
                $.ajax({
                    data: dataForm,
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    type: 'POST',
                    cache: false,
                    url: url,
                    success: function(data) {
                        $('#conceptList').html(data);
                        $('#conceptListTable').DataTable();
                        $(button).parent().parent().remove();
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            };


        function searchConcepts() {
            var dataForm = $('#editForm').serializeArray();
            console.log(dataForm);
                $.ajax({
                    url: '@Url.Action("Search", "ConceptSet")',
                    cache: false,
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    type: "POST",
                    data: dataForm,
                    success: function (data) {
                        $('#concept-search-results').html(data);
                        $('#searchResults').DataTable();
                    },
                    error: function (reponse) {
                        console.log("error : " + reponse);
                    }
                });
            };


        $(document).ready(function () {
        
            $('.dynamic-dropdown').select2({
                tags: true,
                tokenSeparators: [','],
                width: '100%'
            });
            $('.dynamic-dropdown-limited').select2({
                tags: true,
                tokenSeparators: [','],
                width: '100%',
                maximumSelectionLength: 1
            });


            $('#conceptListTable').DataTable();

            $("#searchConcepts").click(function(){
                searchConcepts();
            });
            
        });

</script>    

}