@model OpenIZAdmin.Models.ConceptSetModels.EditConceptSetModel
@{
    ViewBag.Title = Locale.ConceptSet;
}

<div>
    @using (Html.BeginForm("Edit", "ConceptSet", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id="editForm" }))
    {
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <span class="text-white">@Locale.ConceptSet @Model.Mnemonic</span>
            </div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body panel-default">
                @Html.HiddenFor(m => m.Key)
                @Html.HiddenFor(m => m.ConceptToAdd, new { id = "conceptToAdd" })
                @Html.LabelFor(m => m.Mnemonic, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Mnemonic, new { @class = "form-control" })
                @Html.LabelFor(m => m.Oid, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Oid, new { @class = "form-control" })
            </div>
        </div>
        <div id="conceptList">
            @Html.Partial("_ConceptList")
        </div>
        <input type="submit" value="@Locale.Save" class="btn btn-default" />
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <span class="text-white">@Locale.Concept @Locale.Search</span>
            </div>
            <div class="panel panel-body panel-default">
                @Html.LabelFor(m => m.ConceptMnemonic, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ConceptMnemonic, new { @class = "form-control" })
                @Html.LabelFor(m => m.ConceptName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ConceptName, new { @class = "form-control" })
            </div>
            <input type="button" value="@Locale.Search" class="btn btn-default" id="searchConcepts" />
            </div>
            <div id="concept-search-results">
            </div>
            
            }

        </div>



@section scripts{
    <script>
        function addConcept(key) {
            $("#conceptToAdd").val(key);
            var dataForm = $('#editForm').serializeArray();
            $.ajax({
                data: dataForm,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                type: 'get',
                url: '@Url.Action("Add", "ConceptSet")',
                success: function (data) {
                    console.log($('#conceptList'));
                    $('#conceptList').html(data);
                },
                error: function (err) {
                    console.log(err);
                    console.log("Here");
                }
            })

        };
        $(document).ready(function () {

            $("#searchConcepts").click(function () {

                var url = "/ConceptSet/Search?ConceptMnemonic=" + $("#ConceptMnemonic").val();
                $.ajax({
                    url: url,
                    cache: false,
                    type: "POST",
                    success: function (data) {


                        $('#concept-search-results').html(data);

                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });

            });



        });
    </script>
}