@using OpenIZAdmin.Models
@model OpenIZAdmin.Models.RoleModels.EditRoleModel
@{
    ViewBag.Title = Locale.Edit + " " + Locale.Role;
}

@Html.Partial("_ObsoleteWarningPartial", new ObsoleteWarningViewModel(Model.IsObsolete, Locale.RoleNotActive))

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@(Locale.Edit + " " + Locale.Role)</span>
    </div>    
    <div class="panel panel-body">
        @using (Html.BeginForm("Edit", "Role", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", title = Locale.ToolTip_RoleName })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                            <div class="col-md-8">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", cols = "20", rows = "3", title = Locale.ToolTip_RoleDescription })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Policies, new { @class = "col-md-2 control-label" })
                            <div class="col-md-8">
                                @Html.ListBoxFor(m => m.Policies, Model.PoliciesList, new { @class = "dynamic-dropdown form-control", multiple = "multiple", title = Locale.ToolTip_Policies })
                                @Html.ValidationMessageFor(m => m.Policies, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <a href="@(Request.UrlReferrer ?? new Uri(Request.Url.GetLeftPart(UriPartial.Authority)))" class="btn btn-danger">@Locale.Cancel</a>
                                @if (Model.IsObsolete)
                                {
                                    <button type="submit" class="btn btn-primary" disabled="disabled" title="@Locale.ToolTip_Submit">@Locale.CannotUpdateNotActive</button>  }
                                else
                                {
                                    <button type="submit" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.Submit</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


        <div class="form-group col-md-offset-2 col-md-8">
            <div class="pull-right">
                @if (!Model.IsObsolete)
            {
                using (Html.BeginForm("Delete", "Role", new { id = Model.Id }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                {
                        @Html.AntiForgeryToken()

                        <button type="submit" class="btn btn-danger">
                            @Locale.Deactivate
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    }
                }
                else
                {
                    using (Html.BeginForm("Activate", "Role", new { id = Model.Id }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <button type="submit" class="btn btn-success">
                            @Locale.Activate
                            <span class="glyphicon glyphicon-upload"></span>
                        </button>
                    }
                }
            </div>
        </div>

    </div>
    
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.Policies</span>           
    </div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">                            
                        @if (Model.RolePolicies.Any())
                        {
                        <table class="table table-striped table-bordered" id="rolePoliciesTable">
                            <thead>
                                <tr>
                                    <th>@Locale.CreationTime</th>
                                    <th>@Locale.Name</th>
                                    <th>@Locale.Oid</th>
                                    <th>@Locale.Grant</th>
                                    <th>@Locale.IsPublic</th>                                                                                                                        
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.RolePolicies)
                                {
                                    <tr>
                                        <td>@item.CreationTime</td>
                                        <td>@item.Name</td>
                                        <td>@item.Oid</td>
                                        <td>@item.Grant</td>
                                        <td>@item.IsPublic</td>                                                                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                        }
                        else
                        {
                            <p>@Locale.NoPoliciesFound</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                          

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rolePoliciesTable").DataTable();
            $('.dynamic-dropdown').select2({
                tags: true,
                tokenSeparators: [','],
                width: '100%'
            });
            $('.dynamic-dropdown-limited').select2({
                tags: true,
                tokenSeparators: [','],
                width: '100%',
                maximumSelectionLength: 1
            });
        });
    </script>

}

