@model OpenIZAdmin.Models.RoleModels.ViewModels.RoleViewModel
@{
    ViewBag.Title = Locale.RoleView;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        <span>@Locale.Role</span>
    </div>
    <div class="panel panel-body panel-default">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.Id)</label>
                        @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.Name)</label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.Description)</label>
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>