@model OpenIZAdmin.Models.RoleModels.RoleViewModel
@{
    ViewBag.Title = Locale.ViewRole_Heading;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.ViewRole_Heading</span>
        <div class="pull-right">
            <a href="@Url.Action("Edit", "Role", new { id = Model.Id })" title="@Locale.ToolTip_Edit">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="text-primary h4">@Locale.Edit</span>
            </a>
        </div>
    </div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-horizontal">                        
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>                     
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", cols = "20", rows = "3", @readonly = "readonly" })
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_PoliciesPartial", Model.Policies)

@section scripts{
    <script>
        $(document).ready(function ()
        {            
            $('#policyTable').DataTable({
                order: [],
                columns: [
                  { "orderable": false },
                  null,
                  null,
                  null,
                  null,
                  null,
                  null                  
                ]
            });

        });
    </script>
}