@model IEnumerable<OpenIZAdmin.Models.ApplicationModels.ViewModels.ApplicationViewModel>
@{
    ViewBag.Title = Locale.Applications;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">
            @Locale.Applications
        </span>
        <div class="pull-right">
            <span class="text-primary h4">@Locale.New</span>
            <a href="@Url.Action("Create", "Application")" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
        @if (Model.Any())
        {
            <table class="table table-bordered" id="applicationPoliciesTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Locale.ApplicationName
                        </th>
                        <th>
                            @Locale.CreationTime
                        </th>
                        <th>
                            @Locale.HasPolicies
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><span class="glyphicon glyphicon-phone pull-left" aria-hidden="true"></span></td>
                            <td>@item.ApplicationName</td>
                            <td>@item.CreationTime.ToLocalTime().ToString(Constants.DateTimeFormatStringWithTimestamp)</td>
                            <td>
                                @if (item.HasPolicies)
                                {
                                    <text>@Locale.Yes</text>
}
                                else
                                {
                                    <text>@Locale.No</text>
}
                            </td>
                            <td class="col-md-3 centerButton">
                                <a class="btn btn-primary" href="@Url.Action("ViewApplication", "Application", new { id = item.Id })">
                                    @Locale.View
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                                <a class="btn btn-warning" href="@Url.Action("Edit", "Application", new { id = item.Id })">
                                    @Locale.Edit
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                @if (!item.IsObsolete)
                                {
                                    using (Html.BeginForm("Delete", "Application", new { id = item.Id }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <button type="submit" class="formButton btn btn-danger">
                                            @Locale.Deactivate
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
}
                                }
                                else
                                {
                                    using (Html.BeginForm("Activate", "Application", new { id = item.Id }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <button type="submit" class="formButton btn btn-success">
                                            @Locale.Activate
                                            <span class="glyphicon glyphicon-upload"></span>
                                        </button>
}
                                }

                            </td>
                        </tr>
}
                </tbody>
            </table>
        }
        else
        {
            <p>@Locale.NoApplicationsFound</p>
        }
    </div>
</div>

