@model IEnumerable<OpenIZAdmin.Models.ApplicationModels.ApplicationViewModel>
@{
    ViewBag.Title = Locale.Applications;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">
            @Locale.Applications
        </span>
        @*<div class="pull-right">
            <a href="@Url.Action("Create", "Application")">
                <span class="text-primary h4">@Locale.New</span>
                <span class="glyphicon glyphicon-plus-sign"></span>                
            </a>
        </div>*@
    </div>
    <div class="panel panel-body">
        @if (Model.Any())
        {
            <table class="table table-striped table-bordered" id="applicationPoliciesTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Locale.ApplicationName</th>
                        <th>@Locale.CreationTime</th>
                        <th>@Locale.HasPolicies</th>
                        <th>@Locale.Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="centerContent autoFitContents"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
                            <td>@item.ApplicationName</td>
                            <td>@item.CreationTime.ToLocalTime().ToString(Constants.DateTimeFormatStringWithTimestamp)</td>                            
                            <td>@(item.HasPolicies ? Html.Raw("<text>" + Locale.Yes + "</text>") : Html.Raw("<text>" + Locale.No + "</text>"))</td>
                            <td class="capitalize">@(item.IsObsolete ? Html.Raw("<text>" + Locale.Deactivated + "</text>") : Html.Raw("<text>" + Locale.Active + "</text>"))</td>
                            <td class="autoFitContents centerContent">
                                <a class="btn btn-primary" href="@Url.Action("ViewApplication", "Application", new { id = item.Id })">
                                    @Locale.View
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                                <a class="btn btn-warning" href="@Url.Action("Edit", "Application", new { id = item.Id })">
                                    @Locale.Edit
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>                               
                            </td>
                        </tr>
}
                </tbody>
            </table>
        }
        else
        {
            <p>@Locale.NoApplicationsFound</p>
        }
    </div>
</div>

