@model IEnumerable<OpenIZAdmin.Models.AppletModels.ViewModels.AppletViewModel>
@{
    ViewBag.Title = Locale.Applets;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        @Locale.Applets
        <div class="pull-right">
            <span>@Locale.New</span>
            <a href="~/Applet/Upload" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Locale.Group
                    </th>
                    <th>
                        @Locale.Name
                    </th>
                    <th>
                        @Locale.Version
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Group</td>
                        <td>@item.Name</td>
                        <td>@item.Version</td>
                        <td>
                            <a class="btn btn-primary" href="/Applet/Applet?appletId=@item.Id">
                                @Locale.View
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                    </tr>
}
            </tbody>
        </table>

    </div>
</div>