@model IEnumerable<OpenIZAdmin.Models.BusinessRuleModels.ViewModels.BusinessRuleViewModel>
@{
    ViewBag.Title = Locale.BusinessRules;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        @Locale.BusinessRules
        <div class="pull-right">
            <span>@Locale.New</span>
            <a href="~/BusinessRules/Upload" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Locale.Author
                    </th>
                    <th>
                        @Locale.Group
                    </th>
                    <th>
                        @Locale.Name
                    </th>
                    <th>
                        @Locale.Version
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Author</td>
                        <td>@item.Group</td>
                        <td>@item.Name</td>
                        <td>@item.Version</td>
                        <td>
                            <a class="btn btn-primary" href="/Applet/ViewApplet/@item.Id">
                                @Locale.View
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/Applet/Download/@item.Id">
                                @Locale.Download
                                <span class="glyphicon glyphicon-download"></span>
                            </a>
                        </td>
                    </tr>}
            </tbody>
        </table>

    </div>
</div>