@model IEnumerable<OpenIZAdmin.Models.CertificateModels.CertificateSigningRequestViewModel>
@{
    ViewBag.Title = Locale.CertificateRequests;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">
            @Locale.CertificateRequests
        </span>
    </div>
    <div class="panel panel-body">
        @if (Model.Any())
        {
            <table class="table table-striped table-bordered" id="certificateRequestsTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Html.DisplayNameFor(m => m.AdministrativeContactName)</th>
                        <th>@Html.DisplayNameFor(m => m.AdministrativeContactEmail)</th>
                        <th>@Html.DisplayNameFor(m => m.DistinguishedName)</th>
                        <th>@Html.DisplayNameFor(m => m.SubmissionTime)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="centerContent autoFitContents"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></td>
                            <td>@item.AdministrativeContactName</td>
                            <td>@item.AdministrativeContactEmail</td>
                            <td>@item.DistinguishedName</td>
                            <td>@item.SubmissionTime.ToLocalTime().ToString(Constants.DateTimeFormatStringWithTimestamp)</td>
                            <td class="autoFitContents centerContent">
                                <a class="btn btn-primary" href="/Applet/Applet?appletId=@item.DistinguishedName.ToString()">
                                    @Locale.View
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </td>
                        </tr>}
                </tbody>
            </table>
        }
        else
        {
            <p>@Locale.NoNewCertificateSigningRequestsSubmitted</p>
        }

    </div>
</div>


