@model IEnumerable<OpenIZAdmin.Models.CertificateModels.ViewModels.CertificateSigningRequestViewModel>
@{
    ViewBag.Title = Locale.CertificateRequests;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        @Locale.CertificateRequests
        <div class="pull-right">
            <span>@Locale.New</span>
            <a href="~/Certificate/SubmitCertificateSigningRequest" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(m => m.AdministrativeContactName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.AdministrativeContactEmail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.DistinguishedName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.SubmissionTime)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><span class="glyphicon glyphicon-lock pull-left" aria-hidden="true"></span></td>
                            <td>@item.AdministrativeContactName</td>
                            <td>@item.AdministrativeContactEmail</td>
                            <td>@item.DistinguishedName</td>
                            <td>@item.SubmissionTime.ToLocalTime()</td>
                            <td>
                                <a class="btn btn-primary" href="/Applet/Applet?appletId=@item.DistinguishedName.ToString()">
                                    @Locale.View
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </td>
                        </tr>}
                </tbody>
            </table>
        }
        else
        {
            <p>@Locale.NoNewCertificateSigningRequestsSubmitted</p>
        }

    </div>
</div>


