@model IEnumerable<OpenIZAdmin.Models.ConceptModels.ViewModels.ConceptSearchResultViewModel>
@{
    ViewBag.Title = Locale.ConceptSearchResults;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span>@Locale.SearchResults</span>
        </h3>
    </div>
    <div class="panel panel-body">
        @if (Model.Any())
        {
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.CreationTime)</th>
                        <th>@Html.DisplayNameFor(m => m.Mnemonic)</th>
                        <th>@Html.DisplayNameFor(m => m.ConceptNames)</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CreationTime</td>
                            <td>@item.Mnemonic</td>
                            @if (item.ConceptNames.Count == 0)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@string.Join(", ", item.ConceptNames)</td>
                            }
                            <td>
                                <a class="btn btn-primary text-white" href="/Concept/ViewConcept?key=@item.Key&versionKey=@item.VersionKey.GetValueOrDefault()">
                                    @Locale.View
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-warning text-white" href="/Concept/Edit?key=@item.Key&versionKey=@item.VersionKey.GetValueOrDefault()">
                                    @Locale.Edit
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </td>
                        </tr>}

                </tbody>
            </table>
        }
        else
        {
            <p>@Locale.NotFound</p>
        }

    </div>
</div>

