@model IEnumerable<OpenIZAdmin.Models.ConceptModels.ConceptSearchResultViewModel>
@{
    ViewBag.Title = Locale.ConceptSearchResults;
}

<div class="panel panel-default">
    <div class="panel-heading">        
        <span class="panel-title">@Locale.SearchResults</span>        
    </div>
    <div class="panel panel-body">
        @if (Model.Any())
        {
            <table class="table table-striped table-bordered" id="searchResults">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.CreationTime)</th>
                        <th>@Html.DisplayNameFor(m => m.Mnemonic)</th>
                        <th>@Html.DisplayNameFor(m => m.Names)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>                            
                            <td>
                                @if (item.CreationTime != null)
                                {                                    
                                    @item.CreationTime.ToLocalTime().ToString(Constants.DateTimeFormatStringWithTimestamp);
                                }
                            </td>
                            <td>@item.Mnemonic</td>
                            @if (item.Names.Count == 0)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@string.Join(", ", item.Names)</td>
                            }
                            <td class="autoFitContents centerButton">
                                <a class="btn btn-primary" onclick="addConcept('@item.Id', this)">
                                    @Locale.Add
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <p>@Locale.NotFound</p>
        }

    </div>
</div>
