@model OpenIZAdmin.Models.RealmModels.ViewModels.RealmViewModel
@{
    ViewBag.Title = Locale.CurrentRealm;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        <span>@Locale.CurrentRealm</span>
        <div class="pull-right">
            <a href="~/Realm/JoinRealm">
                <span class="glyphicon glyphicon-plus-sign"></span>
                @Locale.JoinNewRealm
            </a>
            <a href="~/Realm/LeaveRealm">
                <span class="glyphicon glyphicon-export"></span>
                @Locale.LeaveRealm
            </a>
        </div>
    </div>
    <div class="panel panel-body panel-default">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Id, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.ApplicationId, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ApplicationId, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.CreationTime, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.CreationTime, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>