@model OpenIZAdmin.Models.RealmModels.RealmViewModel
@{
    ViewBag.Title = Locale.CurrentRealm;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.CurrentRealm</span>
        <div class="pull-right">
            <a href="@Url.Action("LeaveRealm", "Realm")" title=@Locale.ToolTip_LeaveRealm>
                <span class="glyphicon glyphicon-export"></span>
                <span class="text-primary h4">@Locale.LeaveRealm</span>
            </a>
        </div>
    </div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-horizontal">                   
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @readonly = "readonly" })                            
                        </div>
                    </div>  
                    <div class="form-group">
                        @Html.LabelFor(m => m.ApplicationId, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.ApplicationId, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div> 
                    <div class="form-group">
                        @Html.LabelFor(m => m.CreationTime, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.CreationTime, Constants.DateTimeFormatViewWithTimestamp, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>                     
                </div>
            </div>
        </div>
    </div>
</div>