@model IEnumerable<OpenIZAdmin.Models.DeviceModels.ViewModels.DeviceViewModel>
@{
    ViewBag.Title = "Devices";
}
<div class="panel panel-default">
    <div class="panel panel-heading">
        @Resources.Devices
        <div class="pull-right">
            <span>@Resources.New</span>
            <a href="~/Device/Create" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Resources.CreationTime
                        </th>
                        <th>
                            @Resources.Name
                        </th>
                        <th>
                            @Resources.UpdatedTime
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="clickable-row" data-href="/Device/Device?id=@item.Name">
                            <td><span class="glyphicon glyphicon-phone pull-left" aria-hidden="true"></span></td>
                            <td>@item.CreationTime.ToLocalTime()</td>
                            <td>@item.Name</td>
                            <td>@item.UpdatedTime</td>
                            <td><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></td>
                        </tr>}
                </tbody>
            </table>
        }
        else
        {
            <p>@Resources.NoDevicesAdded</p>
        }


    </div>
</div>
