@model IEnumerable<OpenIZAdmin.Models.DeviceModels.ViewModels.DeviceViewModel>
@{
    ViewBag.Title = Locale.Devices;
}
<div class="panel panel-default">
    <div class="panel panel-heading">
        <span class="h4">
            @Locale.Devices
        </span>
        <div class="pull-right">
            <span class="text-primary h4">@Locale.New</span>
            <a href="~/Device/Create" class="glyphicon glyphicon-plus-sign"></a>
        </div>
</div>
    <div class="panel panel-body">        
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered" id="devicesSearchTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Locale.CreationTime
                        </th>
                        <th>
                            @Locale.Name
                        </th>
                        <th>
                            @Locale.HasPolicies
                        </th>
                        <th>
                            @Locale.UpdatedTime
                        </th>                                                                        
                        <th></th>                                                                      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><span class="glyphicon glyphicon-phone pull-left" aria-hidden="true"></span></td>                            
                            <td>
                                @if(item.CreationTime != null)
                                {                                    
                                    @item.CreationTime.ToLocalTime().ToString(Constants.DATETIME_FORMAT_STRING_WITH_TIMESTAMP);
                                }                                
                            </td>
                            <td>@item.Name</td>
                            <td>                                
                                @if (item.HasPolicies)
                                {
                                    <text>@Locale.Yes</text>
                                }
                                else
                                {
                                    <text>@Locale.No</text>
                                }                                
                            </td>
                            <td>
                                @if (item.UpdatedTime != null)
                                {
                                    @item.UpdatedTime.Value.ToLocalTime().ToString(Constants.DATETIME_FORMAT_STRING_WITH_TIMESTAMP);
                                }
                                
                            </td>                            
                            <td class="col-md-3 centerButton">
                                <a class="btn btn-primary" href="/Device/ViewDevice/@item.Id">
                                    @Locale.View
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>                            
                                <a class="btn btn-warning" href="/Device/Edit/Edit?key=@item.Id">
                                    @Locale.Edit
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>                           
                                @if (!item.IsObsolete)
                                {
                                    using (Html.BeginForm("Delete", "Device", new { id = item.Id }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <button type="submit" class="formButton btn btn-danger">
                                            @Locale.Deactivate
                                            <span class="glyphicon glyphicon-log-out"></span>
                                        </button>
                                    }
                                }
                                else
                                {
                                    using (Html.BeginForm("Activate", "Device", new { id = item.Id }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <button type="submit" class="formButton btn btn-success">
                                            @Locale.Activate
                                            <span class="glyphicon glyphicon-upload"></span>
                                        </button>
                                    }
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>@Locale.NoDevicesFound</p>
        }


    </div>
</div>
