@model IEnumerable<OpenIZAdmin.Models.DeviceModels.ViewModels.DeviceViewModel>
@{
    ViewBag.Title = Locale.Devices;
}
<div class="panel panel-default">
    <div class="panel panel-heading">
        @Locale.Devices
        <div class="pull-right">
            <span>@Locale.New</span>
            <a href="~/Device/Create" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
        @*@Html.HiddenFor(m => m.SearchString)*@
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Locale.CreationTime
                        </th>
                        <th>
                            @Locale.Name
                        </th>
                        <th>
                            @Locale.HasPolicies
                        </th>
                        <th>
                            @Locale.UpdatedTime
                        </th>                                                                        
                        <th></th>                        
                        <th></th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><span class="glyphicon glyphicon-phone pull-left" aria-hidden="true"></span></td>
                            <td>@item.CreationTime.ToLocalTime()</td>
                            <td>@item.Name</td>
                            <td>                                
                                @if (item.HasPolicies)
                                {
                                    <text>@Locale.Yes</text>
                                }
                                else
                                {
                                    <text>@Locale.No</text>
                                }                                
                            </td>

                            <td>@item.UpdatedTime</td>                            
                            <td>
                                <a class="btn btn-primary" href="/Device/ViewDevice/@item.Id">
                                    @Locale.View
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-warning" href="/Device/Edit/Edit?key=@item.Id">
                                    @Locale.Edit
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                            <td>
                                @if (!item.IsObsolete)
                                {
                                    using (Html.BeginForm("Delete", "Device", new { id = item.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <button type="submit" class="btn btn-danger">
                                            @Locale.Deactivate
                                            <span class="glyphicon glyphicon-log-out"></span>
                                        </button>
                                    }
                                }
                                else
                                {
                                    using (Html.BeginForm("Activate", "Device", new { id = item.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <button type="submit" class="btn btn-success">
                                            @Locale.Activate
                                            <span class="glyphicon glyphicon-upload"></span>
                                        </button>
                                    }
                                }

                            </td>
                        </tr>}
                </tbody>
            </table>
        }
        else
        {
            <p>@Locale.NoDevicesAdded</p>
        }


    </div>
</div>
