@model OpenIZAdmin.Models.Core.EntityAddressViewModel
@{
    ViewBag.Title = Locale.Applets;
}

<div class="form-group">
    @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Country, new { @class = "form-control", title = Locale.ToolTip_PlaceCountry })
        @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.State, new { @class = "form-control", title = Locale.ToolTip_PlaceState })
        @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.County, new { @class = "col-md-2 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.County, new { @class = "form-control", title = Locale.ToolTip_PlaceCounty })
        @Html.ValidationMessageFor(m => m.County, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.City, new { @class = "form-control", title = Locale.ToolTip_PlaceCity })
        @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Precinct, new { @class = "col-md-2 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Precinct, new { @class = "form-control", title = Locale.ToolTip_PlacePrecinct })
        @Html.ValidationMessageFor(m => m.Precinct, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.StreetAddress, new { @class = "col-md-2 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control", title = Locale.ToolTip_PlaceStreetAddress })
        @Html.ValidationMessageFor(m => m.StreetAddress, "", new { @class = "text-danger" })
    </div>
</div>