@model IEnumerable<OpenIZAdmin.Models.ReferenceTermNameModels.ReferenceTermNameViewModel>
@{
    ViewBag.Title = Locale.ReferenceTermNames;
}

<div class="panel panel-body">

    @if (Model.Any())
    {
        <table class="table" id="referenceTermNamesTable">            
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Language)</th>
                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var refName in Model)
                {
                    <tr>
                        <td>@refName.Language</td>
                        <td>@refName.Name</td>
                        <td class="autoFitContents centerContent">
                            <a class="btn btn-warning" href="@Url.Action("Edit", "ReferenceTerm", new { id = refName.ReferenceTermId, langCode = refName.Language, name = refName.Name })">
                                @Locale.Edit
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            @using (Html.BeginForm("Delete", "ReferenceTerm", new { id = refName.ReferenceTermId, langCode = refName.Language, name = refName.Name }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <button type="submit" class="btn btn-danger">
                                    @Locale.Delete
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@Locale.NoDataAvailable</p>
    }

</div>
