@model IEnumerable<OpenIZAdmin.Models.ReferenceTermNameModels.ReferenceTermNameViewModel>
@{
    ViewBag.Title = Locale.ReferenceTermNames;
}

<div class="panel panel-body">

    @if (Model.Any())
    {
        <table class="table table-striped table-bordered" id="referenceTermNamesTable">            
            <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(m => m.Language)</th>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var refName in Model)
                {
                    <tr>
                        <td class="centerContent autoFitContents"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></td>
                        <td>@refName.Language</td>
                        <td>@refName.Name</td>
                        <td class="autoFitContents centerContent">
                            <a class="btn btn-warning" href="@Url.Action("Edit", "ReferenceTermName", new {id = refName.Id, refTermId = refName.ReferenceTermId })">
                                @Locale.Edit
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            @using (Html.BeginForm("Delete", "ReferenceTermName", new { id = refName.Id, refTermId = refName.ReferenceTermId }, FormMethod.Post, new {@class = "inlineForm form-horizontal", role = "form"}))
                            {
                                @Html.AntiForgeryToken()

                                <button type="submit" data-wait-text="@Locale.PleaseWait" class="btn btn-danger">
                                    @Locale.Delete
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@Locale.NoDataAvailable</p>
    }

</div>
