@model IEnumerable<OpenIZAdmin.Models.ReferenceTermModels.ReferenceTermViewModel>
@{
    ViewBag.Title = Locale.ReferenceTerms;
}

<div class="panel panel-body">

    @if (Model.Any())
    {
        <table class="table table-striped table-bordered" id="referenceTermsTable">            
            <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(m => m.Mnemonic)</th>
                <th>@Html.DisplayNameFor(m => m.Names)</th>                
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var referenceTerm in Model)
                {
                    <tr>
                        <td class="centerContent autoFitContents"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></td>
                        <td>@referenceTerm.Mnemonic</td>
                        <td>@referenceTerm.Names</td>                        
                        <td class="autoFitContents centerContent">
                            <a class="btn btn-warning" href="@Url.Action("Edit", "ReferenceTerm", new { id = referenceTerm.Id })">
                                @Locale.Edit
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            @using (Html.BeginForm("DeleteReferenceTerm", "Concept", new {id = referenceTerm.ConceptId, versionId = referenceTerm.ConceptVersionKey, refTermId = referenceTerm.Id}, FormMethod.Post, new {@class = "inlineForm form-horizontal", role = "form"}))
                            {
                                @Html.AntiForgeryToken()

                                <button type="submit" data-wait-text="@Locale.PleaseWait" class="btn btn-danger">
                                    @Locale.Delete
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@Locale.NoDataAvailable</p>
    }

</div>
