@model OpenIZAdmin.Models.ConceptSetModels.EditConceptSetModel

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.Concepts @Locale.For @Model.Mnemonic</span>
    </div>
    <div class="panel panel-body">
        <table class="table" id="conceptListTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.Mnemonic)
                    </th>
                    <th>
                        @Locale.ConceptClass
                    </th>
                    <th>
                        @Locale.Delete
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (var concept in Model.Concepts)
            {
                    <tr>
                        @Html.HiddenFor(m => m.Concepts[i].Mnemonic)
                        @Html.HiddenFor(m => m.Concepts[i].Key)
                        @Html.HiddenFor(m => m.Concepts[i].Class.Mnemonic)
                        <td>
                            @concept.Mnemonic

                        </td>
                        <td>
                            @concept.Class.Mnemonic
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m.ConceptDeletion[i])
                        </td>

                        <td class="autoFitContents centerButton">
                            <a class="btn btn-primary" href="@Url.Action("ViewConcept", "Concept", new { id = concept.Key })">
                                @Locale.View
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>

                            @using (Html.BeginForm("DeleteConceptFromSet", "ConceptSet", new { setId = Model.Id, conceptId = concept.Key }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                            {
                                @*@Html.AntiForgeryToken()*@

                                <button type="submit" class="btn btn-danger">
                                    @Locale.Delete
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            }
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>