@model IEnumerable<OpenIZAdmin.Models.ConceptModels.ConceptViewModel>


<div class="panel panel-body">
    <div class="row">
        <div class="col-md-12">
            @if (Model.Any())
            {
                <table class="table" id="conceptListTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th>@Html.DisplayNameFor(m => m.Mnemonic)</th>
                        <th>@Html.DisplayNameFor(m => m.Names)</th>
                        <th>@Locale.ConceptClass</th>
                        <th>@Locale.Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>                    
                    @foreach (var item in Model)
                    {
                        <tr>       
                            <td class="centerContent autoFitContents"><span class="glyphicon glyphicon-compressed" aria-hidden="true"></span></td>                     
                            <td>@item.Mnemonic</td>
                            <td>@item.ConceptNames</td>
                            <td>@item.Class</td>
                            <td class="capitalize">@(item.IsObsolete ? Html.Raw("<text>" + Locale.Deactivated + "</text>") : Html.Raw("<text>" + Locale.Active + "</text>"))</td>
                            <td class="autoFitContents centerContent">
                                <a class="btn btn-primary" href="@Url.Action("ViewConcept", "Concept", new {id = item.Id, versionId = item.VersionKey})">
                                    @Locale.View
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>

                                @using (Html.BeginForm("DeleteConceptFromSet", "ConceptSet", new { setId = item.ConceptSetId, conceptId = item.Id }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                                { 
                                    @Html.AntiForgeryToken()

                                    <button type="submit" class="btn btn-danger">
                                        @Locale.Delete
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                }
                            </td>
                        </tr>                        
                    }
                    </tbody>
                </table>
            }
            else
            {

            }
        </div>
    </div>
</div>
    
