@model IEnumerable<OpenIZAdmin.Models.MaterialModels.ViewModels.MaterialSearchResultViewModel>
@{
    ViewBag.Title = Locale.Materials;
}
<div class="panel panel-default">
    <div class="panel panel-heading">
        @Locale.Materials
        <div class="pull-right">
            <span>@Locale.New</span>
            <a href="~/Material/Create" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
        @if (Model.Any())
        {
            <table class="table table-bordered" id="materialsSearchTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Locale.CreationTime
                        </th>
                        <th>
                            @Locale.Name
                        </th>
                        <th></th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><span class="glyphicon glyphicon-grain pull-left" aria-hidden="true"></span></td>                            
                            <td>
                                @if (item.CreationTime != null)
                                {
                                    DateTime date = item.CreationTime.ToLocalTime();
                                    @date.ToString(Constants.DATETIME_FORMAT_STRING_WITH_TIMESTAMP);
                                }
                            </td>
                            <td>@item.Name</td>
                            <td class="col-md-3">
                                <a class="btn btn-primary" href="/Material/ViewMaterial?key=@item.Key&versionKey=@item.VersionKey.GetValueOrDefault()">
                                    @Locale.View
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>                           
                                <a class="btn btn-warning" href="/Material/Edit?key=@item.Key&versionKey=@item.VersionKey.GetValueOrDefault()">
                                    @Locale.Edit
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>                            
                                <a class="btn btn-danger" href="/Material/Delete?key=@item.Key&versionKey=@item.VersionKey.GetValueOrDefault()">
                                    @Locale.Delete
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>@(Locale.No + " " + Locale.Materials + " " + Locale.Found)</p>
        }


    </div>
</div>