@model IEnumerable<OpenIZAdmin.Models.OrganizationModels.OrganizationSearchResultViewModel>
@{
    ViewBag.Title = Locale.Organizations;
}
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">
            @Locale.Organizations
        </span>
        <div class="pull-right">
            <span class="text-primary h4">@Locale.New</span>
            <a href="@Url.Action("Create", "Organization")" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
        @if (Model.Any())
        {
            <table class="table table-bordered" id="materialsSearchTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(m => m.CreationTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Type)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><span class="glyphicon glyphicon-equalizer pull-left" aria-hidden="true"></span></td>
                            <td>@item.CreationTime.ToString(Constants.DateTimeFormatStringWithTimestamp)</td>
                            <td>@item.Name</td>
                            <td>@item.Type</td>
                            <td class="col-md-3 centerButton">
                                <a class="btn btn-primary" href="@Url.Action("ViewOrganization", "Organization", new { id = item.Id, versionId = item.VersionKey })">
                                    @Locale.View
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                                <a class="btn btn-warning" href="@Url.Action("Edit", "Organization", new { id = item.Id, versionId = item.VersionKey })">
                                    @Locale.Edit
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>
}
                </tbody>
            </table>
        }
        else
        {
            <p>@(Locale.No + " " + Locale.Organizations + " " + Locale.Found)</p>
        }


    </div>
</div>