@model OpenIZAdmin.Models.SearchModel
@{
    ViewBag.Title = Locale.Search;
    Model.SearchTerm = TempData["searchTerm"]?.ToString();
    string searchType = TempData["searchType"]?.ToString();

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "search-results",
        OnBegin = "showLoadingBar()",
        OnComplete = "hideLoadingBar(xhr)"
    };

    var name = string.Empty;

    if (searchType != null)
    {
        name = Locale.ResourceManager.GetString(searchType);
    }
}

<div class="panel panel-default">

    <!-- Heading w/ "+ New" button -->
    <div class="panel-heading">
        <span class="panel-title">@Locale.Search @name</span>
        <div class="pull-right">
            <a href="~/@searchType/Create">
                <span class="text-primary h4">@Locale.New</span>
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>

    </div>

    <div class="panel panel-body">
        @using (Ajax.BeginForm("Search", null, options, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!-- Search field -->
            <div class="form-group">
                @Html.LabelFor(m => m.SearchTerm, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SearchTerm, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Search type dropdown -->
            if (Model.SearchTypeEnabled)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.SearchType, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.SearchType, TempData["typeFilter"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>
            }

            <!-- Facility type-ahead -->
            if (Model.FacilityEnabled)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Facility, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(
                            m => m.Facility,
                            new List<SelectListItem>(),
                            new
                            {
                                @class = "place-search form-control",
                                multiple = "multiple",
                                title = Locale.ToolTip_Facilities
                            })
                    </div>
                </div>
            }

            if (Model.RoleEnabled)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(
                            m => m.Role, 
                            new List<SelectListItem>(), 
                            new { 
                                @class = "role-search form-control", 
                                multiple = "multiple", 
                                title = Locale.ToolTip_AlertTo,
                                maximumSelectionLength = 1
                            }
                        )
                    </div>
                </div>

            }

            <!-- Buttons -->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="reset" class="btn btn-warning" id="reset">
                        <span class="glyphicon glyphicon-refresh"></span>@Locale.Reset
                    </button>
                    <button type="submit" class="btn btn-primary" title="@Locale.ToolTip_Search" disable-wait="true">
                        <span class="glyphicon glyphicon-search"></span>@Locale.Search
                    </button>
                </div>
            </div>}
    </div>
</div>

@Html.Partial("_LoadingBar")

<div id="search-results">

</div>