@model OpenIZAdmin.Models.SearchModel
@{
    ViewBag.Title = Resources.Search;
    Model.SearchTerm = TempData["searchTerm"]?.ToString();
    string searchType = TempData["searchType"]?.ToString();

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "search-results"
    };
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        @Resources.Search
        <div class="pull-right">
            <span>@Resources.New</span>
            <a href="~/@searchType/Create" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
        @using (Ajax.BeginForm("Search", null, options, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.SearchTerm, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SearchTerm, "", new { @class = "text-danger" })
                </div>
            </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-warning" id="reset">
                            <span class="glyphicon glyphicon-refresh"></span>@Resources.Reset
                        </button>
                        <input type="submit" value="@Resources.Search" class="btn btn-default" />
                    </div>
                </div>}
    </div>
</div>
<div id="search-results">

</div>