@model OpenIZAdmin.Models.SearchModel
@{
    ViewBag.Title = "Search";
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        Search
    </div>
    <div class="panel panel-body">
        @using (Html.BeginForm("Search", TempData["searchType"]?.ToString(), FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.SearchTerm, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SearchTerm, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
