@model IEnumerable<OpenIZAdmin.Models.UserModels.ViewModels.UserViewModel>
@{
    ViewBag.Title = Locale.Users;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        @Locale.Users
        <div class="pull-right">
            <span>@Locale.New</span>
            <a href="~/User/Create" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(m => m.UserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.IsLockedOut)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Roles)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><span class="glyphicon glyphicon-user pull-left" aria-hidden="true"></span></td>
                            <td><a href="/User/ViewUser/@item.UserId">@item.UserId</a></td>
                            <td>@item.Username</td>
                            <td>@item.Email</td>
                            <td>@item.IsLockedOut</td>
                            <td>
                                @if (item.Roles.Count() > 0)
                                {
                                    item.Roles.Select(r => r.Name).OrderBy(r => r).Aggregate((a, b) => a + ", " + b);
                                }
                            </td>
                    </tr>}
                </tbody>
            </table>
        }
        else
        {
            <p>@Locale.NoUsersAdded</p>
        }


    </div>
</div>

