@using OpenIZAdmin.Util
@model IEnumerable<OpenIZAdmin.Models.UserModels.UserViewModel>
@{
    ViewBag.Title = Locale.Users;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.Users</span>
    </div>
    <div class="panel panel-body">
        @if (Model.Any())
        {
            <table class="table table-striped table-bordered" id="usersSearchTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Html.DisplayNameFor(m => m.Username)</th>
                        <th>@Html.DisplayNameFor(m => m.Email)</th>
                        <th>@Html.DisplayNameFor(m => m.IsLockedOut)</th>
                        <th>@Html.DisplayNameFor(m => m.Roles)</th>
                        <th>@Locale.Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="centerContent autoFitContents"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
                            <td>@item.Username</td>
                            <td>@item.Email</td>                                                                         
                            <td>@item.IsLockedOut.ToLockoutStatus()</td>                                                        
                            <td>@item.HasRoles.ToYesOrNo()</td>                            
                            <td>@item.IsObsolete.ToObsoleteStatus()</td>                            
                            <td class="autoFitContents centerContent">
                                <a class="btn btn-primary" href="@Url.Action("ViewUser", "User", new { id = item.Id })">
                                    @Locale.View
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                                <a class="btn btn-warning" href="@Url.Action("Edit", "User", new { id = item.Id })">
                                    @Locale.Edit
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>
}
                </tbody>
            </table>
        }
        else
        {
            <p>@(Locale.No + " " + Locale.Users + " " + Locale.Found)</p>
        }


    </div>
</div>

