@model IEnumerable<OpenIZAdmin.Models.UserModels.ViewModels.UserViewModel>
@{
    ViewBag.Title = Locale.Users;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.Users</span>            
            <div class="pull-right">
                <span class="text-primary h4">@Locale.New</span>
                <a href="~/User/Create" class="glyphicon glyphicon-plus-sign"></a>
            </div>
</div>
    <div class="panel panel-body">
        @if (Model.Any())
        {
            <table class="table table-bordered" id="usersSearchTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(m => m.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.IsLockedOut)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Roles)
                        </th>
                        <th></th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><span class="glyphicon glyphicon-user pull-left" aria-hidden="true"></span></td>
                            <td>@item.Username</td>
                            <td>@item.Email</td>
                            <td>
                                @if (item.IsLockedOut)
                                {
                                    <text>@Locale.Yes</text>
                                }
                                else
                                {
                                    <text>@Locale.No</text>
                                }
                            </td>
                            <td>                                
                                @if (item.HasRoles)
                                {
                                    <text>@Locale.Yes</text>
                                }
                                else
                                {
                                    <text>@Locale.No</text>
                                }
                            </td>
                            <td class="col-md-4 centerButton">                                
                                    <a class="btn btn-primary" href="/User/ViewUser/@item.UserId">
                                        @Locale.View
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>                                    
                                    <a class="btn btn-warning" href="/User/Edit/@item.UserId">
                                        @Locale.Edit
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>                                    
                                    <a class="btn btn-danger" href="/User/ResetPassword/@item.UserId">
                                        @(Locale.Reset + " " + Locale.Password)
                                        <span class="glyphicon glyphicon-alert"></span>
                                    </a>                                    
                                    @if (!item.IsObsolete)
                                    {
                                        using (Html.BeginForm("Delete", "User", new { id = item.UserId }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <button type="submit" class="formButton btn btn-danger">
                                                @Locale.Deactivate
                                                <span class="glyphicon glyphicon-log-out"></span>
                                            </button>
                                        }
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("Activate", "User", new { id = item.UserId }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <button type="submit" class="formButton btn btn-success">
                                                @Locale.Activate
                                                <span class="glyphicon glyphicon-upload"></span>
                                            </button>
                                        }
                                    }                                
                            </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>@Locale.NoUsersAdded</p>
        }


    </div>
</div>

