@model IEnumerable<OpenIZAdmin.Models.UserModels.ViewModels.UserViewModel>
@{
    ViewBag.Title = Resources.Users;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        @Resources.Users
        <div class="pull-right">
            <span>@Resources.New</span>
            <a href="~/User/Create" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Resources.UserId
                        </th>
                        <th>
                            @Resources.Username
                        </th>
                        <th>
                            @Resources.Email
                        </th>
                        <th>
                            @Resources.LockedOut
                        </th>
                        <th>
                            Roles
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="clickable-row" data-href="/User/User/@item.UserId">
                            <td><span class="glyphicon glyphicon-user pull-left" aria-hidden="true"></span></td>
                            <td><a href="/User/ViewUser/@item.UserId">@item.UserId</a></td>
                            <td>@item.Username</td>
                            <td>@item.Email</td>
                            <td>@item.IsLockedOut</td>
                            <td>
                                @if (item.Roles.Count() > 0)
                                {
                                    item.Roles.Select(r => r.Name).OrderBy(r => r).Aggregate((a, b) => a + ", " + b);
                                }
                        </td>


                        <td><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></td>
                    </tr>}
                </tbody>
            </table>
        }
        else
        {
            <p>@Resources.NoUsersAdded</p>
        }


    </div>
</div>

