@model OpenIZAdmin.Models.UserModels.CreateUserModel
@{
    ViewBag.Title = Locale.Create + " " + Locale.User; 
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        @(Locale.Create + " " + Locale.User)
    </div>
    <div class="panel panel-body panel-default">
        @using (Html.BeginForm("Create", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Roles, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Roles, Model.RolesList, new {@class = "dynamic-dropdown form-control", multiple = "multiple"})
                    @Html.ValidationMessageFor(m => m.Roles, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Locale.Submit" class="btn btn-default" />
                </div>
            </div>}
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $('.dynamic-dropdown').select2({
                tags: true,
                tokenSeparators: [','],
                width: '100%'
            });
        });
    </script>

}