@model OpenIZAdmin.Models.UserModels.UserViewModel
@{
    ViewBag.Title = Locale.View + " " + Locale.User;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@(Locale.View + " " + Locale.User)</span>
        <div class="pull-right">
            <a href="@Url.Action("Edit", "User", new { id = Model.UserId })" title="@Locale.ToolTip_Edit">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="text-primary h4">@Locale.Edit</span>
            </a>
        </div>
    </div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">                                       
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>  
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div> 
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>  
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>                      
                    <div class="form-group">
                        @Html.LabelFor(m => m.HealthFacility, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.HealthFacility, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>  
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastLoginTime, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.LastLoginTime, Constants.DateTimeFormatViewWithTimestamp, new { @class = "form-control", @readonly = "readonly" })                            
                        </div>
                    </div>                      
                </div>
            </div>
        </div>        
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.Details</span>
    </div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">@Html.DisplayNameFor(m => m.Roles)</label>
                        <table class="table table-striped table-bordered" id="usersTable">
                            <thead>
                                <tr>
                                    <th>@Locale.Name</th>
                                    <th>@Locale.Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Roles)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                    </tr>}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>