@model OpenIZAdmin.Models.UserModels.ViewModels.UserViewModel
@{
    ViewBag.Title = Locale.UserView;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        <span>@Locale.User</span>
        <div class="pull-right">
            <a href="~/User/Edit">
                <span class="glyphicon glyphicon-edit"></span>
                @Locale.Edit
            </a>
        </div>
    </div>
    <div class="panel panel-body panel-default">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">@Html.DisplayNameFor(m => m.UserId)</label>
                        @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.Username)
                        </label>
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">
                            @Html.DisplayNameFor(m => m.Email)
                        </label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>