@model OpenIZAdmin.Models.DeviceModels.CreateDeviceModel
@{
    ViewBag.Title = Locale.Create + " " + Locale.Device;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        <span class="h4">@(Locale.Create + " " + Locale.Device)</span>
    </div>
    <div class="panel panel-body panel-default">
        @using (Html.BeginForm("Create", "Device", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", title = Locale.ToolTip_DeviceName })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DeviceSecret, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">                    
                    @Html.TextBoxFor(m => m.DeviceSecret, new { @class = "form-control", title = Locale.ToolTip_DeviceSecret })
                    @Html.ValidationMessageFor(m => m.DeviceSecret, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Locale.Submit" class="btn btn-default" title="@Locale.ToolTip_Submit"/>
                </div>
            </div>}
    </div>
</div>