@model OpenIZAdmin.Models.DeviceModels.EditDeviceModel
@{
    ViewBag.Title = Locale.EditDevice;
}

<div class="panel panel-default">
@using (Html.BeginForm("Edit", "Device", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div class="panel panel-default">        
            <div class="panel panel-heading">
                <span>@Locale.EditDevice</span>              
            </div>
            <div class="panel panel-body panel-default">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.HiddenFor(m => m.Id)
                            <div class="col-md-3">
                                <label class="control-label">@Html.DisplayNameFor(m => m.CreationTime)</label>
                                @Html.TextBoxFor(m => m.CreationTime, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">
                                    @Html.DisplayNameFor(m => m.DeviceSecret)
                                </label>
                                @Html.TextBoxFor(m => m.DeviceSecret, new { @class = "form-control" })
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">
                                    @Html.DisplayNameFor(m => m.Name)
                                </label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            </div>
                            @*<div class="col-md-3">
                                    <label class="control-label">
                                        @Html.DisplayNameFor(m => m.UpdatedTime)
                                    </label>
                                    @Html.TextBoxFor(m => m.UpdatedTime, new { @class = "form-control", @readonly = "readonly" })
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel panel-heading">
                <span>@Locale.Details</span>
                <div class="pull-right">
                    <a href="~/Device/Edit">
                        <span class="glyphicon glyphicon-edit"></span>
                        @Locale.AddPolicy
                    </a>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label">@Html.DisplayNameFor(m => m.Policies)</label>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@Locale.CreationTime</th>
                                            <th>@Locale.Name</th>
                                            <th>@Locale.Grant</th>
                                            <th>@Locale.IsPublic</th>
                                            <th>@Locale.Oid</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Policies)
                                        {
                                            <tr>
                                                <td>@item.CreationTime</td>
                                                <td>@item.Name</td>
                                                <td>@item.Grant</td>
                                                <td>@item.IsPublic</td>
                                                <td>@item.Oid</td>
                                            </tr>}

                                    </tbody>
                                </table>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="pull-right">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Locale.Submit" class="btn btn-default" />
                </div>
            </div>
        </div> }
      </div>
