@using OpenIZAdmin.Models
@model OpenIZAdmin.Models.DeviceModels.EditDeviceModel
@{
    ViewBag.Title = Locale.Edit + " " + Locale.Device;
}

@Html.Partial("_ObsoleteWarningPartial", new ObsoleteWarningViewModel(Model.IsObsolete, Locale.DeviceNotActive))

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@(Locale.Edit + " " + Locale.Device)</span>
    </div>    
    <div class="panel panel-body">
        @using (Html.BeginForm("Edit", "Device", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", title = Locale.ToolTip_DeviceName })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Policies, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.ListBoxFor(m => m.Policies, Model.PoliciesList, new { @class = "dynamic-dropdown form-control", multiple = "multiple", title = Locale.ToolTip_Policies })
                    @Html.ValidationMessageFor(m => m.Policies, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="@(Request.UrlReferrer ?? new Uri(Request.Url.GetLeftPart(UriPartial.Authority)))" class="btn btn-danger">@Locale.Cancel</a>
                    @if (Model.IsObsolete)
                    {
                        <button type="submit" class="btn btn-primary" disabled="disabled" title="@Locale.ToolTip_Submit">@Locale.CannotUpdateNotActive</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.Submit</button>
                    }
                </div>
            </div>
        }

        <div class="form-group col-md-offset-2 col-md-8">
            <div class="pull-right">
                @if (Model.IsObsolete)
                {
                    using (Html.BeginForm("Activate", "Device", new { id = Model.Id }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                    {
                        <button type="submit" class="btn btn-success">
                            @Locale.Activate
                            <span class="glyphicon glyphicon-upload"></span>
                        </button>
                    }
                }
                else
                {

                    using (Html.BeginForm("Delete", "Device", new { id = Model.Id }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <button type="submit" class="btn btn-danger">
                            @Locale.Deactivate
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    }
                }
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.Policies</span>
    </div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        @if (Model.DevicePolicies.Any())
                        {
                            <table class="table table-striped table-bordered" id="devicePoliciesTable">
                                <thead>
                                    <tr>
                                        <th>@Locale.CreationTime</th>
                                        <th>@Locale.Name</th>
                                        <th>@Locale.Grant</th>
                                        <th>@Locale.IsPublic</th>
                                        <th>@Locale.Oid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DevicePolicies)
                                    {
                                        <tr>
                                            <td>@item.CreationTime.ToLocalTime().ToString(Constants.DateTimeFormatStringWithTimestamp)</td>
                                            <td>@item.Name</td>
                                            <td>@item.Grant</td>
                                            <td>@item.IsPublic</td>
                                            <td>@item.Oid</td>
                                        </tr> }

                                </tbody>
                            </table>}
                        else
                        {
                            <p>@Locale.NoPoliciesAdded</p>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#devicePoliciesTable").DataTable();
            $('.dynamic-dropdown').select2({
                tags: true,
                tokenSeparators: [','],
                width: '100%'
            });
        });
    </script>

}
