@model OpenIZAdmin.Models.DeviceModels.ViewModels.DeviceViewModel
@{
    ViewBag.Title = Locale.View + " " + Locale.Device;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        <span>@(Locale.View + " " + Locale.Device)</span>
        <div class="pull-right">
            <a href="~/Device/Edit/Edit?key=@Model.Id" title="@Locale.ToolTip_Edit">
                <span class="glyphicon glyphicon-edit"></span>
                @Locale.Edit
            </a>
        </div>
    </div>
    <div class="panel panel-body panel-default">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.HiddenFor(m => m.Id)
                        @Html.LabelFor(m => m.CreationTime, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">                                               
                            @Html.TextBoxFor(m => m.CreationTime, Constants.DATETIME_FORMAT_VIEW_WITH_TIMESTAMP, new { @class = "form-control", @readonly = "readonly" })                                                        
                            
                        </div>
                    </div>        
                    <div class="form-group">
                        @Html.LabelFor(m => m.DeviceSecret, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.DeviceSecret, new { @class = "form-control", @readonly = "readonly" })                            
                        </div>
                    </div>            
                    <div class="form-group">                        
                        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })                            
                        </div>
                    </div>                                     
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel panel-heading">
        <span>@Locale.Details</span>
    </div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        @if (Model.Policies.Count() > 0)
                        {
                        <label class="control-label">@Html.DisplayNameFor(m => m.Policies)</label>
                        <table class="table table-striped table-bordered" id="devicePolicyTable">
                            <thead>
                                <tr>
                                    <th>@Locale.CreationTime</th>
                                    <th>@Locale.Name</th>
                                    <th>@Locale.Grant</th>
                                    <th>@Locale.IsPublic</th>
                                    <th>@Locale.Oid</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Policies)
                                {
                                    <tr>
                                        <td>@item.CreationTime</td>
                                        <td>@item.Name</td>
                                        <td>@item.Grant</td>
                                        <td>@item.IsPublic</td>
                                        <td>@item.Oid</td>
                                    </tr>}

                            </tbody>
                        </table>
                        }
                        else
                        {
                            <p>@Locale.NoPoliciesFound</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#devicePolicyTable").DataTable();
        });
    </script>
    }