@model OpenIZAdmin.Models.AccountModels.ChangePasswordModel
@{
    ViewBag.Title = Locale.ChangePassword;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        @Locale.ChangePassword
    </div>
    <div class="panel panel-body panel-default">

        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Username)

            <div class="form-group">
                @Html.LabelFor(m => m.CurrentPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 pull-right">
                    <button type="submit" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.ChangePassword</button>
                </div>
            </div>
        }
    </div>
</div>