@model OpenIZAdmin.Models.AccountModels.ChangePasswordModel
@{
    ViewBag.Title = Locale.ChangePassword;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.ChangePassword</span>
    </div>
    <div class="panel panel-body">

        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Username)

            <div class="form-group">
                @Html.LabelFor(m => m.CurrentPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", title = Locale.ToolTip_CurrentPassword, autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", title = Locale.ToolTip_Password, autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", title = Locale.ToolTip_Password, autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 pull-right">
                    <a href="@(Request.UrlReferrer ?? new Uri(Request.Url.GetLeftPart(UriPartial.Authority)))" class="btn btn-danger">@Locale.Cancel</a>
                    <button type="submit" data-locale-text="@Locale.PleaseWait" data-locale-text="@Locale.PleaseWait" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.ChangePassword</button>
                </div>
            </div>
        }
    </div>
</div>