@model OpenIZAdmin.Models.AccountModels.ForgotPasswordModel
@{
    ViewBag.Title = Locale.ForgotPassword;
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        @Locale.ForgotPassword
    </div>
    <div class="panel panel-body">
        @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div id="username-section">
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "col-xs-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        <span class="help-block text-danger">@Locale.ResetPasswordUsernameHelp</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-9">
                        <button type="button" class="btn btn-primary" id="username-next">Next</button>
                    </div>
                </div>
            </div>

            <div id="tfa-mechanisms-section" class="hidden">
                @if (Model.TfaMechanisms.Any())
                {
                    <p class="text-danger">@Locale.ResetPasswordTfaMethodHelp</p>

                    <div class="form-group" id="tfa-mechanisms">
                        <div class="col-md-2">
                            <ul>
                                @foreach (var tfaMechanismModel in Model.TfaMechanisms)
                                {
                                    <li>@Html.RadioButtonFor(m => m.TfaMechanism, tfaMechanismModel.Id) @tfaMechanismModel.Name</li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary" id="tfa-mechanisms-next">@Locale.Next</button>
                        </div>
                    </div>
                }
                else
                {
                    <p>@Locale.NoTfaMechanisms</p>
                }
            </div>

            <div id="verification-section" class="hidden">
                <div class="form-group">
                    @Html.LabelFor(m => m.Verification, new { @class = "col-xs-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Verification, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Verification, "", new { @class = "text-danger" })
                        <span class="help-block">@Locale.ResetPasswordVerificationHelp</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-9">
                        <a href="@(Request.UrlReferrer ?? new Uri(Request.Url.GetLeftPart(UriPartial.Authority)))" class="btn btn-danger">@Locale.Cancel</a>
                        <button type="submit" class="btn btn-primary">@Locale.Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            @if (!Model.TfaMechanisms.Any())
            {
                <text>$("#reset-password").attr("disabled", "disabled");</text>
            }

            $("#username-next").on("click", function (e)
            {
                e.preventDefault();
                $("#username-section").addClass("hidden");
                $("#tfa-mechanisms-section").removeClass("hidden");
            });

            $("#tfa-mechanisms-next").on("click", function (e)
            {
                e.preventDefault();
                $("#tfa-mechanisms-section").addClass("hidden");
                $("#verification-section").removeClass("hidden");
            });
        });
    </script>
}