@model OpenIZAdmin.Models.AppletModels.AppletViewModel
@{
    ViewBag.Title = Locale.ViewApplet_Heading;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.ViewApplet_Heading</span>
    </div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Author, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Author, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Group, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Group, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Version, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Version, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.PublisherData</span>
    </div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-12">
                @if (Model.PublisherViewModel != null)
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(m => m.PublisherViewModel.Issuer, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.TextAreaFor(m => m.PublisherViewModel.Issuer, new {@class = "form-control", cols = "3", rows = "3", @readonly = "readonly"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.PublisherViewModel.ValidFrom, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.PublisherViewModel.ValidFrom, new {@class = "form-control", @readonly = "readonly"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.PublisherViewModel.ValidTo, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.PublisherViewModel.ValidTo, new {@class = "form-control", @readonly = "readonly"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.PublisherViewModel.Subject, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.TextAreaFor(m => m.PublisherViewModel.Subject, new {@class = "form-control", cols = "3", rows = "3", @readonly = "readonly"})
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <p>@Locale.NoPublisherData</p>
                }

            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.Dependencies</span>
    </div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        @if (Model.Dependencies.Any())
                        {
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>@Locale.Id</th>
                                    <th>@Locale.Version</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.Dependencies)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Version</td>
                                    </tr>}

                                </tbody>
                            </table>}
                        else
                        {
                            <p>@Locale.NoDependenciesFound</p>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>