@using OpenIZAdmin.Models
@model OpenIZAdmin.Models.OrganizationModels.EditOrganizationModel
@{
    ViewBag.Title = Locale.EditOrganization_Heading;
}

@Html.Partial("_ObsoleteWarningPartial", new ObsoleteWarningViewModel(Model.IsObsolete, Locale.OrganizationNotActive))

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.EditOrganization_Heading</span>       
    </div>
    <div class="panel panel-body">
        @using (Html.BeginForm("Edit", "Organization", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", title = Locale.ToolTip_DeviceName })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IndustryConcept, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.IndustryConcept, Model.IndustryConcepts, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IndustryConcept, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="@Url.Action("ViewOrganization", new { id = Model.Id, versionId = Model.VersionKey })" class="btn btn-danger">@Locale.Cancel</a>
                    @if (Model.IsObsolete)
                    {
                        <button type="submit" data-wait-text="@Locale.PleaseWait" class="btn btn-primary" disabled="disabled" title="@Locale.ToolTip_Submit">@Locale.CannotUpdateNotActive</button>  }
                    else
                    {
                        <button type="submit" data-wait-text="@Locale.PleaseWait" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.Submit</button>
                    }
                </div>
            </div>
        }

        <div class="form-group col-md-offset-2 col-md-8">
            <div class="pull-right">
                @if (!Model.IsObsolete)
            {
                using (Html.BeginForm("Delete", "Organization", new { id = Model.Id }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                {
                        @Html.AntiForgeryToken()

                        <button type="submit" data-wait-text="@Locale.PleaseWait" class="btn btn-danger">
                            @Locale.Deactivate
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    }
                }
                else
                {
                    using (Html.BeginForm("Activate", "Organization", new { id = Model.Id, versionId = Model.VersionKey }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <button type="submit" data-wait-text="@Locale.PleaseWait" class="btn btn-success">
                            @Locale.Activate
                            <span class="glyphicon glyphicon-upload"></span>
                        </button>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.Identifiers</span>
        @if (!Model.IsObsolete)
        {
            <div class="pull-right">
                <a href="@Url.Action("Create", "EntityIdentifier", new {id = Model.Id, type = "Organization"})">
                    <span class="text-primary h4">@Locale.New</span>
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </a>
            </div>
        }
    </div>
    @Html.Partial("_ManageIdentifiersPartial", Model.Identifiers)
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.Relationships</span>

        @if (!Model.IsObsolete)
        {
            <div class="pull-right">
                <a href="@Url.Action("CreateRelatedManufacturedMaterial", "Organization", new { id = Model.Id })">
                    <span class="text-primary h4">@Locale.NewManufacturedMaterial</span>
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </a>
            </div>
        }

    </div>
    @Html.Partial("_ManageRelationshipsPartial", Model.Relationships)
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            
            $('#identifiersTable').DataTable({
                "language":
                {
                    "url": "/Content/datatable-locales/" + getCookie("@LocalizationConfig.LanguageCookieName") + ".json"
                },
                order: [],
                columns: [
                  { "orderable": false },
                  null,
                  null,
                  null,
                  { "orderable": false }
                ]
            });            

            $('#relationshipsTable').DataTable({
                "language":
                {
                    "url": "/Content/datatable-locales/" + getCookie("@LocalizationConfig.LanguageCookieName") + ".json"
                },
                order: [],
                columns: [
                  { "orderable": false },
                  null,
                  null,
                  null,
                  null,
                  { "orderable": false }
                ]
            });
        });
    </script>
}