@model OpenIZAdmin.Models.OrganizationModels.EditOrganizationModel
@{
    ViewBag.Title = Locale.Edit + " " + Locale.Organization;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@(Locale.Edit + " " + Locale.Organization)</span>
    </div>
    @using (Html.BeginForm("Edit", "Organization", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="panel panel-body">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", title = Locale.ToolTip_DeviceName })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IndustryConcept, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.IndustryConcept, Model.IndustryConcepts, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IndustryConcept, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="@(Request.UrlReferrer ?? new Uri(Request.Url.GetLeftPart(UriPartial.Authority)))" class="btn btn-danger">@Locale.Cancel</a>
                    <button type="submit" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.Submit</button>
                </div>
            </div>
        </div>
    }
</div>
