@model OpenIZAdmin.Models.MaterialModels.EditMaterialModel
@{
    ViewBag.Title = Locale.Edit + " " + Locale.Material;
}

<div class="panel panel-heading">
    @(Locale.Edit + " " + Locale.Material)
</div>
<div class="panel panel-body panel-default">
    @using (Html.BeginForm("Edit", "Material", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.Key)
                    @Html.HiddenFor(m => m.VersionKey)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.FormConcepts, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.FormConcept, Model.FormConcepts, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FormConcept, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.QuantityConcepts, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.QuantityConcept, Model.QuantityConcepts, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.QuantityConcept, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" value="@Locale.Submit" class="btn btn-default" title="@Locale.ToolTip_Submit"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    }
 </div>
