@model OpenIZAdmin.Models.MaterialModels.SearchMaterialModel
@{
    ViewBag.Title = Locale.Search;

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "material-search-results",
        OnBegin = "showLoadingBar()",
        OnComplete = "hideLoadingBar()"
    };
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        @Locale.Search @Locale.Materials
        <div class="pull-right">
            <span>@Locale.New</span>
            <a href="~/Material/Create" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
        @using (Ajax.BeginForm("Search", null, options, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Locale.Search" class="btn btn-default" />
                </div>
            </div>}
    </div>
</div>

@Html.Partial("_LoadingBar")

<div id="material-search-results">

</div>

@section scripts{
    <script>
        $(document).ready(function ()
        {
            $("#reset").on("click", function ()
            {
                window.location.reload();
            });
        });
    </script>
}
