@model OpenIZAdmin.Models.CertificateModels.SubmitCertificateSigningRequestModel
@{
    ViewBag.Title = "Create";
}

<div class="content col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main row">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            Submit Certificate Signing Request
        </div>
        <div class="panel panel-body panel-default">
            @using (Html.BeginForm("SubmitCertificateSigningRequest", "Certificate", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.CmcRequest, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextAreaFor(m => m.CmcRequest, new { @class = "form-control", rows = 10 })
                        @Html.ValidationMessageFor(m => m.CmcRequest, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AdministrativeContactName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.AdministrativeContactName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AdministrativeContactName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AdministrativeContactEmail, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.AdministrativeContactEmail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AdministrativeContactEmail, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

