@model OpenIZAdmin.Models.EntityIdentifierModels.EntityIdentifierEditModel

<div class="edit-identifier-group" id="@Model.Id">
    @Html.HiddenFor(m => Model.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Type, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.Type, Model.TypeList, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(m => m.Value, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Value, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Value, "", new { @class = "text-danger" })
        </div>

        <button type="button" class="btn btn-danger remove-identifier" data-id="@Model.Id">@Locale.Delete</button>
    </div>
</div>