@model OpenIZAdmin.Models.ReferenceTermModels.EditReferenceTermViewModel
@{
    ViewBag.Title = Locale.Edit + " " + Locale.ReferenceTerm;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@(Locale.Edit + " " + Locale.ReferenceTerm)</span>
    </div>
    <div class="panel panel-body">
        @using (Html.BeginForm("Edit", "ReferenceTerm", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.Id)

            <div class="form-group">
                @Html.LabelFor(m => m.Mnemonic, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Mnemonic, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Mnemonic, "", new { @class = "text-danger" })
                </div>                
            </div>

            <div class="form-group">
                @*<div class="col-md-offset-2 col-md-10">
                    <a href="@(Request.UrlReferrer ?? new Uri(Request.Url.GetLeftPart(UriPartial.Authority)))" class="btn btn-danger">@Locale.Cancel</a>
                    <button type="submit" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.Submit</button>
                </div>*@
        
                <div class="col-md-offset-2 col-md-8">
                    <a href="@Url.Action("Index")" class="btn btn-danger">@Locale.Cancel</a>
                    @if (Model.IsObsolete)
                    {
                        <button type="submit" class="btn btn-primary" disabled="disabled" title="@Locale.ToolTip_Submit">@Locale.CannotUpdateNotActive</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" title="@Locale.ToolTip_Submit">@Locale.Submit</button>
                    }
                </div>

            </div>
        }
        
        
        <div class="form-group col-md-offset-2 col-md-8">
            <div class="pull-right">
                @if (Model.IsObsolete)
                {
                    using (Html.BeginForm("Activate", "ReferenceTerm", new { id = Model.Id }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                    {
                        <button type="submit" class="btn btn-success">
                            @Locale.Activate
                            <span class="glyphicon glyphicon-upload"></span>
                        </button>
                    }
                }
                else
                {

                    using (Html.BeginForm("Delete", "ReferenceTerm", new { id = Model.Id }, FormMethod.Post, new { @class = "inlineForm form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <button type="submit" class="btn btn-danger">
                            @Locale.Deactivate
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">@Locale.ReferenceTermName</span>
        <div class="pull-right">
            <a href="@Url.Action("Create", "ReferenceTermName", new { id = Model.Id })">
                <span class="text-primary h4">@Locale.New</span>
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>
    </div>
    @Html.Partial("_ManageReferenceTermNamesPartial", Model.TermNamesList)
</div>